<div class="version-dropdown">
  <div class="btn-group" dropdown placement="bottom right" [insideClick]="true" #dropdown="bs-dropdown">
    <button type="button" dropdownToggle class="btn btn-default"
            id="btn-dropdown-version" aria-controls="dropdown-version">
      <span class="version-check">
         <div class="radio-button-container">
           <input type="radio" class="radio-btn" name="header-choice" id="radio-selected" disabled
               [checked]="currentVersion.isChecked"/>
           <label for="radio-selected" class="label radio"></label>
         </div>
      </span> {{currentVersion.name}}
    </button>

    <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu
        id="dropdown-version" aria-labelledby="btn-dropdown-version">
      <li #scrollContainer>
        <div class="list-group" appInternalScroll [scrollAreaContainer]="scrollContainer">
          <a  class="list-group-item" [ngClass]="{selected: idx === selectedItem}"
             *ngFor="let version of versions; index as idx;">
            <div class="radio-button-container" (click)="$event.stopPropagation()">
              <input type="radio" class="radio-btn" name="choice" [id]="'radio-version-' + idx"
                     [checked]="idx === selectedCheckboxIndex" (change)="onSelectVersion(idx)"/>
              <label [for]="'radio-version-' + idx" class="label radio"></label>
            </div>

            <label class="label version-name" (click)="onSelectVersionItem(idx)">
              <div class="list-group-item-heading">{{version.name}}</div>
              <div class="list-group-item-text">{{version.description}}</div>
            </label>
          </a>
        </div>
      </li>
      <li class="version-controls">
        <button type="button" class="btn btn-default btn-link no-border text-uppercase" (click)="dropdown.hide()">Add Version</button>
        <button type="button" class="btn btn-default btn-link no-border text-uppercase" (click)="dropdown.hide()">COMPARE</button>
      </li>
    </ul>
  </div>
</div>
