@import "../scss/_override-variables";

.navbar {
  .user-actions {
    position: relative;
  }

  .user-name {
    color: $white;
    font-size: 13px;
  }

  .user-role {
    color: $white;
    font-weight: 300;
  }

  .icon-ico-head-arrow {
    font-size: 24px;
    line-height: normal;
    vertical-align: middle;
  }

  .open {
    .user-role {
      color: $dark-blue;
      background: $white;

      padding: 7px 0px 13px 7px;
      border-top-left-radius: $border-radius-base;
      border-top-right-radius: $border-radius-base;
      border-bottom-color: white;
      z-index: 1001;
      position: relative;
    }
  }
}
