@import "../scss/_override-variables";
@import "../../node_modules/bootstrap/scss/mixins/box-shadow";

.navbar {
  min-height: 56px;
  width: 100%;
  border-radius: 0;
  background: $dark-blue;
  z-index: 10001;
  display: flex;

  .navbar-toggler {
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32'
                          xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.25)' stroke-width='2'
                          stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    &:focus,
    &:active {
      outline: none;
    }
  }

  .navbar-collapse {
    display: flex;
    justify-content: space-between;

    &.in.show {
      .navbar-nav {
        flex-direction: column;

        .nav-item {
          padding-top: 10px;
          padding-bottom: 10px;
          padding-right: 30px;
        }
      }

      .form-inline {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 30px;
      }
    }
  }

  .navbar-nav {
    flex-direction: row;
    flex-wrap: nowrap;


    .nav-item > a {
      font-size: 16px;
      font-weight: 300;
      color: $white;
      opacity: 0.7;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 30px;
      white-space: nowrap;
    }

    .nav-item.active > a {
      font-weight: normal;
      color: $white;
      opacity: 1;
    }

    .nav-item:hover > a {
      color: $white;
      opacity: 1;
    }

  }

  .navbar-brand {
    font-size: 24px;
    font-weight: 900;
    color: $navbar-brand-color;
    margin-right: 53px;
  }

  a {
    text-decoration: none;
  }

  .user-actions {
    position: relative;

    &.open {
      .user-role {
        color: $dark-blue;
        background: $white;

        border-top-left-radius: $border-radius-base;
        border-top-right-radius: $border-radius-base;
        border-bottom-color: white;
        z-index: 1001;
        position: relative;

        &:after {
          display: block;
          content: '';
          background-color: $white;
          width: 100%;
          height: 9px;
          position: absolute;
          z-index: 10000;
          bottom: -6px;
          left: 0px;
          border-right: 1px solid $border2;
          border-left: 1px solid $border2;
        }
      }

      .icon-ico-head-arrow:before {
        color: $dark-blue;
      }

      &:after {
        content: none;
      }

      .dropdown-menu {
        padding: 0;

        li > a {
          padding: 18px 30px 18px 30px;
          font-size: 14px;
        }
      }
    }
  }

  .user-name {
    color: $white;
    font-size: 13px;
    display: flex;
    align-items: center;
  }

  .user-role {
    padding-left: 7px;
    color: $white;
    font-weight: 300;
    display: flex;
    align-items: center;
  }

  .icon-ico-head-arrow {
    font-size: 24px;
    vertical-align: middle;
  }


}
