<div class="sidebar-right">
  <ul class="sticky">
    <li class="square toggle-view">
      <!--<span class="ring-icon icon-ico-settings"></span><br>-->
      <span>HTML</span>
      <span class="label"></span>
    </li>
    <li class="square">
      <span class="ring-icon icon-ico-undo"></span><br>
      <span class="label"></span>
    </li>
    <li class="square inactive">
      <span class="ring-icon icon-ico-redo"></span><br>
      <span class="label"></span>
    </li>
    <li class="square">
      <div class="wrap">
        <span class="ring-icon icon-ico-navpanel-summary"></span><br>
        <span class="label">Summary</span>
        <span class="badge"><span class="mdi mdi-check"></span></span>
      </div>
    </li>
    <li class="square">
      <p class="wrap">
        <span class="ring-icon icon-ico-navpanel-precond"></span><br>
        <span class="label">Precond</span>
        <span class="badge"><span class="mdi mdi-check"></span></span>
      </p>
    </li>
    <li class="square">
      <p class="wrap inactive">
        <span class="ring-icon icon-ico-navpanel-steps"></span><br>
        <span class="label">Steps</span>
        <span class="badge">3</span>
      </p>
    </li>
    <li class="square">
      <div class="wrap inactive">
        <span class="ring-icon icon-ico-navpanel-custfields"></span><br>
        <span class="label">CustFlds</span>
        <span class="badge">3</span>
      </div>
    </li>
    <li class="square">
      <div class="wrap">
        <span class="ring-icon icon-ico-navpanel-attachms"></span><br>
        <span class="label">Attachms</span>
        <span class="badge">33</span>
      </div>
    </li>
  </ul>
</div>
