@import "../../../scss/override-variables";

.steps-container {
  padding-right: 24px;
  margin-bottom: 36px;

  .row {
    margin-bottom: 16px;
  }

  .steps-table {
    thead {
      tr {
        border: none;
        padding-left: 0;

        th {
          padding: 12px;
          font-size: 12px;
          font-weight: 500;
          color: #ddd8d8;
          border: none;
        }
      }
    }

    tr {
      border-bottom: 1px solid $table-border-grey;

      td {
        font-size: 14px;
        font-weight: normal;
        padding: 12px 19px 12px 12px;
        color: $black;

        &.order {
          color: $table-order-grey;
          padding-top: 24px;
          padding-left: 0px;
        }

        .btn-dropdown {
          position: relative;

          .btn {
            font-family: 'Roboto Mono';
            font-size: 12px;
            margin-top: 5px;
            padding: 0;
            color: $table-order-grey;
          }
        }

        .glyphicon {
          font-size: 12px;
          font-weight: 500;
          color: #ddd8d8;
        }

        .icon-ico-drag {
          font-size: 24px;
        }
      }
    }

    [dropdown].open.show:after {
      content: none;
    }
  }

  .btn.add-new {
    min-width: 120px;
  }

  .handle{
    cursor: grab;
  }
}
