<div class="row m-b-16 m-t-16 p-r-16">
  <input type="text" class="form-control h40" placeholder="Summary">
</div>
<div class="row m-b-16 p-r-16">
  <input type="text" class="form-control h40" placeholder="Preconditions">
</div>

<div class="row steps">
    <div class="col-md-12">
        <h4 class="text2">Test steps</h4>
        <table class="table steps-table">
            <thead>
                <tr>
                    <th>Step</th>
                    <th></th>
                    <th></th>
                    <th>Expected result</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                         <button type="button"  class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon-ico-drag"></span></button>
                    </td>
                    <th scope="row">
                      <div class="btn-group" dropdown>
                         <button type="button" dropdownToggle class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">1</button>
                        <ul class="dropdown-menu dropdown-2" *dropdownMenu>
                            <li><a href="#">Clone</a></li>
                            <li><a href="#">Delete</a></li>
                            <li><a href="#">Move up</a></li>
                            <li><a href="#">Move down</a></li>
                        </ul> 
                      </div>
                    </th>
                    <td>Log in to account. Go to Phone system > Users. Click «+» button. Fill required fields and press</td>
                    <td>User extension successfully created.</td>
                </tr>
                <tr>
                    <td>
                      <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon-ico-drag"></span></button>
                      <ul class="dropdown-menu dropdown-2">
                          <li><a href="#">Clone</a></li>
                          <li><a href="#">Delete</a></li>
                          <li><a href="#">Move up</a></li>
                          <li><a href="#">Move down</a></li>
                      </ul>
                    </td>
                    <th scope="row">
                                            <div class="btn-group" dropdown>
                         <button type="button" dropdownToggle class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">2</button>
                        <ul class="dropdown-menu dropdown-2" *dropdownMenu>
                            <li><a href="#">Clone</a></li>
                            <li><a href="#">Delete</a></li>
                            <li><a href="#">Move up</a></li>
                            <li><a href="#">Move down</a></li>
                        </ul> 
                      </div>
                    </th>
                    <td>Log in to account. Go to Phone system > Users. Click «+» button. Fill required fields and press</td>
                    <td>User extension successfully created.</td>
                </tr>
                <tr>
                    <td>
                      <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon-ico-drag"></span></button>
                      <ul class="dropdown-menu dropdown-2">
                          <li><a href="#">Clone</a></li>
                          <li><a href="#">Delete</a></li>
                          <li><a href="#">Move up</a></li>
                          <li><a href="#">Move down</a></li>
                      </ul>
                    </td>
                    <th scope="row">
                                            <div class="btn-group" dropdown>
                         <button type="button" dropdownToggle class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">3</button>
                        <ul class="dropdown-menu dropdown-2" *dropdownMenu>
                            <li><a href="#">Clone</a></li>
                            <li><a href="#">Delete</a></li>
                            <li><a href="#">Move up</a></li>
                            <li><a href="#">Move down</a></li>
                        </ul> 
                      </div>
                    </th>
                    <td>Log in to account. Go to Phone system > Users. Click «+» button. Fill required fields and press</td>
                    <td>User extension successfully created.</td>
                </tr>
                <tr>
                    <td>
                      <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon-ico-drag"></span></button>
                      <ul class="dropdown-menu dropdown-2">
                          <li><a href="#">Clone</a></li>
                          <li><a href="#">Delete</a></li>
                          <li><a href="#">Move up</a></li>
                          <li><a href="#">Move down</a></li>
                      </ul>
                  </td>
                    <th scope="row">
                                            <div class="btn-group" dropdown>
                         <button type="button" dropdownToggle class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">4</button>
                        <ul class="dropdown-menu dropdown-2" *dropdownMenu>
                            <li><a href="#">Clone</a></li>
                            <li><a href="#">Delete</a></li>
                            <li><a href="#">Move up</a></li>
                            <li><a href="#">Move down</a></li>
                        </ul> 
                      </div>
                    </th>
                    <td>Log in to account. Go to Phone system > Users. Click «+» button. Fill required fields and press</td>
                    <td>User extension successfully created.</td>
                </tr>
                <tr>
                    <td>
                      <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon-ico-drag"></span></button>
                      <ul class="dropdown-menu dropdown-2">
                          <li><a href="#">Clone</a></li>
                          <li><a href="#">Delete</a></li>
                          <li><a href="#">Move up</a></li>
                          <li><a href="#">Move down</a></li>
                      </ul>
                    </td>
                    <th scope="row">
                                            <div class="btn-group" dropdown>
                         <button type="button" dropdownToggle class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">5</button>
                        <ul class="dropdown-menu dropdown-2" *dropdownMenu>
                            <li><a href="#">Clone</a></li>
                            <li><a href="#">Delete</a></li>
                            <li><a href="#">Move up</a></li>
                            <li><a href="#">Move down</a></li>
                        </ul> 
                      </div>
                    </th>
                    <td>Log in to account. Go to Phone system > Users. Click «+» button. Fill required fields and press</td>
                    <td>User extension successfully created.</td>
                </tr>
                <tr>
                    <td>
                      <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon-ico-drag"></span></button>
                      <ul class="dropdown-menu dropdown-2">
                          <li><a href="#">Clone</a></li>
                          <li><a href="#">Delete</a></li>
                          <li><a href="#">Move up</a></li>
                          <li><a href="#">Move down</a></li>
                      </ul>
                    </td>
                    <th scope="row">
                                            <div class="btn-group" dropdown>
                         <button type="button" dropdownToggle class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">6</button>
                        <ul class="dropdown-menu dropdown-2" *dropdownMenu>
                            <li><a href="#">Clone</a></li>
                            <li><a href="#">Delete</a></li>
                            <li><a href="#">Move up</a></li>
                            <li><a href="#">Move down</a></li>
                        </ul> 
                      </div>
                    </th>
                    <td>Log in to account. Go to Phone system > Users. Click «+» button. Fill required fields and press</td>
                    <td>User extension successfully created.</td>
                </tr>
                <tr>
                    <td>
                      <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon-ico-drag"></span></button>
                      <ul class="dropdown-menu dropdown-2">
                          <li><a href="#">Clone</a></li>
                          <li><a href="#">Delete</a></li>
                          <li><a href="#">Move up</a></li>
                          <li><a href="#">Move down</a></li>
                      </ul>
                    </td>
                    <th scope="row">
                                            <div class="btn-group" dropdown>
                         <button type="button" dropdownToggle class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">7</button>
                        <ul class="dropdown-menu dropdown-2" *dropdownMenu>
                            <li><a href="#">Clone</a></li>
                            <li><a href="#">Delete</a></li>
                            <li><a href="#">Move up</a></li>
                            <li><a href="#">Move down</a></li>
                        </ul> 
                      </div>
                    </th>
                    <td>Log in to account. Go to Phone system > Users. Click «+» button. Fill required fields and press</td>
                    <td>User extension successfully created.</td>
                </tr>
                <tr>
                    <td>
                      <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon-ico-drag"></span></button>
                      <ul class="dropdown-menu dropdown-2">
                          <li><a href="#">Clone</a></li>
                          <li><a href="#">Delete</a></li>
                          <li><a href="#">Move up</a></li>
                          <li><a href="#">Move down</a></li>
                      </ul>
                    </td>
                    <th scope="row">                      <div class="btn-group" dropdown>
                         <button type="button" dropdownToggle class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">8</button>
                        <ul class="dropdown-menu dropdown-2" *dropdownMenu>
                            <li><a href="#">Clone</a></li>
                            <li><a href="#">Delete</a></li>
                            <li><a href="#">Move up</a></li>
                            <li><a href="#">Move down</a></li>
                        </ul> 
                      </div></th>
                    <td>Log in to account. Go to Phone system > Users. Click «+» button. Fill required fields and press</td>
                    <td>User extension successfully created.</td>
                </tr>
                <tr>
                    <td>
                      <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon-ico-drag"></span></button>
                      <ul class="dropdown-menu dropdown-2">
                          <li><a href="#">Clone</a></li>
                          <li><a href="#">Delete</a></li>
                          <li><a href="#">Move up</a></li>
                          <li><a href="#">Move down</a></li>
                      </ul>
                    </td>
                    <th scope="row">                      <div class="btn-group" dropdown>
                         <button type="button" dropdownToggle class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">9</button>
                        <ul class="dropdown-menu dropdown-2" *dropdownMenu>
                            <li><a href="#">Clone</a></li>
                            <li><a href="#">Delete</a></li>
                            <li><a href="#">Move up</a></li>
                            <li><a href="#">Move down</a></li>
                        </ul> 
                      </div></th>
                    <td>Log in to account. Go to Phone system > Users. Click «+» button. Fill required fields and press</td>
                    <td>User extension successfully created.</td>
                </tr>
                <tr>
                    <td>
                      <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon-ico-drag"></span></button>
                      <ul class="dropdown-menu dropdown-2">
                          <li><a href="#">Clone</a></li>
                          <li><a href="#">Delete</a></li>
                          <li><a href="#">Move up</a></li>
                          <li><a href="#">Move down</a></li>
                      </ul>
                    </td>
                    <th scope="row">                      <div class="btn-group" dropdown>
                         <button type="button" dropdownToggle class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">10</button>
                        <ul class="dropdown-menu dropdown-2" *dropdownMenu>
                            <li><a href="#">Clone</a></li>
                            <li><a href="#">Delete</a></li>
                            <li><a href="#">Move up</a></li>
                            <li><a href="#">Move down</a></li>
                        </ul> 
                      </div></th>
                    <td>Log in to account. Go to Phone system > Users. Click «+» button. Fill required fields and press</td>
                    <td>User extension successfully created.</td>
                </tr>

                <tr>
                    <td>
                      <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon-ico-drag"></span></button>
                      <ul class="dropdown-menu dropdown-2">
                          <li><a href="#">Clone</a></li>
                          <li><a href="#">Delete</a></li>
                          <li><a href="#">Move up</a></li>
                          <li><a href="#">Move down</a></li>
                      </ul>
                    </td>
                    <th scope="row">                      <div class="btn-group" dropdown>
                         <button type="button" dropdownToggle class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">11</button>
                        <ul class="dropdown-menu dropdown-2" *dropdownMenu>
                            <li><a href="#">Clone</a></li>
                            <li><a href="#">Delete</a></li>
                            <li><a href="#">Move up</a></li>
                            <li><a href="#">Move down</a></li>
                        </ul> 
                      </div></th>
                    <td>
                      <input type="text" class="form-control clean" placeholder="New step">
                    </td>
                    <td>
                      <input type="text" class="form-control clean" placeholder="New result">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
  <input class="btn btn-primary" type="button" value="New step">
</div>
