<div class="row m-b-16 m-t-16 p-r-16">
  <input type="text" class="form-control h40" placeholder="Summary">
</div>
<div class="row m-b-16 p-r-16">
  <input type="text" class="form-control h40" placeholder="Preconditions">
</div>

<div class="row steps">
    <div class="col-md-12">
        <h4 class="text2">Test steps</h4>
        <table class="table steps-table">
            <thead>
                <tr>
                    <th>Step</th>
                    <th></th>
                    <th></th>
                    <th>Expected result</th>
                </tr>
            </thead>
            <tbody>
            <tr *ngFor="let step of model.children;let i = index;">
              <td>
                <div class="btn-group" dropdown>
                  <button type="button" dropdownToggle class="btn btn-clear dropdown-toggle"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">   <span class="icon-ico-drag"></span></button>
                  <ul class="dropdown-menu dropdown-2" *dropdownMenu>
                    <li><a href="#">Clone</a></li>
                    <li><a href="#">Delete</a></li>
                    <li><a href="#">Move up</a></li>
                    <li><a href="#">Move down</a></li>
                  </ul>
                </div>
              </td>
              <th scope="row">
                {{i + 1}}
              </th>
              <td>
                <app-summernote-editor [htmlContent]="step.name"></app-summernote-editor>
              </td>
              <td> <app-summernote-editor [htmlContent]="step.expectedResult"></app-summernote-editor></td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
  <input class="btn btn-primary" type="button" value="New step">
</div>
