<!--<div class="row steps">
  <div class="col-md-12">
    <h4 class="text2">Test steps</h4>
    <table class="table steps-table">
      <thead>
      <tr>
        <th>Step</th>
        <th></th>
        <th></th>
        <th>Expected result</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Clone</a></li>
            <li><a href="#">Delete</a></li>
            <li><a href="#">Move up</a></li>
            <li><a href="#">Move down</a></li>
          </ul>
        </td>
        <th scope="row">1</th>
        <td>Log in to account. Go to Phone system > Users. Click «+» button. Fill required fields and press</td>
        <td>User extension successfully created.</td>
      </tr>
      <tr>
        <td>
          <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Clone</a></li>
            <li><a href="#">Delete</a></li>
            <li><a href="#">Move up</a></li>
            <li><a href="#">Move down</a></li>
          </ul>
        </td>
        <th scope="row">2</th>
        <td>Log in to account. Go to Phone system > Users. Click «+» button. Fill required fields and press</td>
        <td>User extension successfully created.</td>
      </tr>
      <tr>
        <td>
          <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Clone</a></li>
            <li><a href="#">Delete</a></li>
            <li><a href="#">Move up</a></li>
            <li><a href="#">Move down</a></li>
          </ul>
          <span></span>
        </td>
        <th scope="row">3</th>
        <td>Log in to account. Go to Phone system > Users. Click «+» button. Fill required fields and press</td>
        <td>User extension successfully created.</td>
      </tr>
      <tr>
        <td>
          <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Clone</a></li>
            <li><a href="#">Delete</a></li>
            <li><a href="#">Move up</a></li>
            <li><a href="#">Move down</a></li>
          </ul>
          <span></span>
        </td>
        <th scope="row">4</th>
        <td>Log in to account. Go to Phone system > Users. Click «+» button. Fill required fields and press</td>
        <td>User extension successfully created.</td>
      </tr>
      <tr>
        <td>
          <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Clone</a></li>
            <li><a href="#">Delete</a></li>
            <li><a href="#">Move up</a></li>
            <li><a href="#">Move down</a></li>
          </ul>
        </td>
        <th scope="row">5</th>
        <td>Log in to account. Go to Phone system > Users. Click «+» button. Fill required fields and press</td>
        <td>User extension successfully created.</td>
      </tr>
      <tr>
        <td>
          <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Clone</a></li>
            <li><a href="#">Delete</a></li>
            <li><a href="#">Move up</a></li>
            <li><a href="#">Move down</a></li>
          </ul>
        </td>
        <th scope="row">6</th>
        <td>Log in to account. Go to Phone system > Users. Click «+» button. Fill required fields and press</td>
        <td>User extension successfully created.</td>
      </tr>
      <tr>
        <td>
          <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Clone</a></li>
            <li><a href="#">Delete</a></li>
            <li><a href="#">Move up</a></li>
            <li><a href="#">Move down</a></li>
          </ul>
        </td>
        <th scope="row">7</th>
        <td>Log in to account. Go to Phone system > Users. Click «+» button. Fill required fields and press</td>
        <td>User extension successfully created.</td>
      </tr>
      <tr>
        <td>
          <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Clone</a></li>
            <li><a href="#">Delete</a></li>
            <li><a href="#">Move up</a></li>
            <li><a href="#">Move down</a></li>
          </ul>
        </td>
        <th scope="row">8</th>
        <td>Log in to account. Go to Phone system > Users. Click «+» button. Fill required fields and press</td>
        <td>User extension successfully created.</td>
      </tr>
      <tr>
        <td>
          <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Clone</a></li>
            <li><a href="#">Delete</a></li>
            <li><a href="#">Move up</a></li>
            <li><a href="#">Move down</a></li>
          </ul>
        </td>
        <th scope="row">9</th>
        <td>Log in to account. Go to Phone system > Users. Click «+» button. Fill required fields and press</td>
        <td>User extension successfully created.</td>
      </tr>
      <tr>
        <td>
          <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Clone</a></li>
            <li><a href="#">Delete</a></li>
            <li><a href="#">Move up</a></li>
            <li><a href="#">Move down</a></li>
          </ul>
        </td>
        <th scope="row">10</th>
        <td>Log in to account. Go to Phone system > Users. Click «+» button. Fill required fields and press</td>
        <td>User extension successfully created.</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <input class="btn btn-primary" type="button" value="New step">
</div>
-->



<div class="row m-b-16 m-t-16">
  <input type="text" class="form-control" placeholder="Summary">
</div>
<div class="row m-b-16">
  <input type="text" class="form-control" placeholder="Preconditions">
</div>

<div class="row steps">
    <div class="col-md-12">
        <h4 class="text2">Test steps</h4>
        <table class="table steps-table">
            <thead>
                <tr>
                    <th>Step</th>
                    <th></th>
                    <th></th>
                    <th>Expected result</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon-ico-drag"></span></button>
                        <ul class="dropdown-menu dropdown-2">
                            <li><a href="#">Clone</a></li>
                            <li><a href="#">Delete</a></li>
                            <li><a href="#">Move up</a></li>
                            <li><a href="#">Move down</a></li>
                        </ul>
                    </td>
                    <th scope="row">1</th>
                    <td>
                      Log in to account. Go to Phone system > Users. Click «+» button. Fill required fields and pressLog in to account. Go to Phone system > Users. Click «+» button. Fill required fields and pressLog in to account. Go to Phone system > Users. Click «+» button. Fill required fields and pressLog in to account. Go to Phone system > Users. Click «+» button. Fill required fields and press
                      <br>
                      Log in to account. Go to Phone system > Users. Click «+» button. Fill required fields and press
                      <br>
                      Log in to account. Go to Phone system > Users. Click «+» button. Fill required fields and press
                      Log in to account. Go to Phone system > Users. Click «+» button. Fill required fields and press

                    </td>
                    <td>Check results</td>
                </tr>
                <tr>
                    <td>
                      <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon-ico-drag"></span></button>
                      <ul class="dropdown-menu dropdown-2">
                          <li><a href="#">Clone</a></li>
                          <li><a href="#">Delete</a></li>
                          <li><a href="#">Move up</a></li>
                          <li><a href="#">Move down</a></li>
                      </ul>
                    </td>
                    <th scope="row">2</th>
                    <td>Check the Join link</td>
                    <td>The join link is "https://test.test.com/j/xxxxx".</td>
                </tr>
                <tr>
                    <td>
                      <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon-ico-drag"></span></button>
                      <ul class="dropdown-menu dropdown-2">
                          <li><a href="#">Clone</a></li>
                          <li><a href="#">Delete</a></li>
                          <li><a href="#">Move up</a></li>
                          <li><a href="#">Move down</a></li>
                      </ul>
                    </td>
                    <th scope="row">3</th>
                    <td>Log in to account. Go to Phone system > Users. Click «+» button. Fill required fields and press</td>
                    <td>User extension successfully created.</td>
                </tr>
                <tr>
                    <td>
                      <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon-ico-drag"></span></button>
                      <ul class="dropdown-menu dropdown-2">
                          <li><a href="#">Clone</a></li>
                          <li><a href="#">Delete</a></li>
                          <li><a href="#">Move up</a></li>
                          <li><a href="#">Move down</a></li>
                      </ul>
                  </td>
                    <th scope="row">4</th>
                    <td>Log in to account. Go to Phone system > Users. Click «+» button. Fill required fields and press</td>
                    <td>User extension successfully created.</td>
                </tr>
                <tr>
                    <td>
                      <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="icon-ico-drag"></span></button>
                      <ul class="dropdown-menu dropdown-2">
                          <li><a href="#">Clone</a></li>
                          <li><a href="#">Delete</a></li>
                          <li><a href="#">Move up</a></li>
                          <li><a href="#">Move down</a></li>
                      </ul>
                    </td>
                    <th scope="row">5</th>
                    <td>Log in to account. Go to Phone system > Users. Click «+» button. Fill required fields and press</td>
                    <td>User extension successfully created.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
  <input class="btn btn-primary" type="button" value="New step">
</div>
