<div class="description">
  <div class="row steps">
    <div class="col-md-12">
      <h4 *ngIf="model.summary">Summary</h4>
      <div class="panel panel-default">
        <div [ngClass]="{'panel-body': true, 'placeholder-summary': !model.summary}">
          <app-summernote-editor [(htmlContent)]="model.summary" [placeholder]="'Summary'" [editMode]="true"></app-summernote-editor>
        </div>
      </div>
    </div>
  </div>
  <div class="row steps">
    <div class="col-md-12">
      <h4 *ngIf="model.preconditions">Preconditions</h4>
      <div class="panel panel-default">
        <div [ngClass]="{'panel-body': true, 'placeholder-preconditions': !model.preconditions}">
          <app-summernote-editor [(htmlContent)]="model.preconditions" [placeholder]="'Preconditions'" [editMode]="true"></app-summernote-editor>
        </div>
      </div>
    </div>
  </div>
</div>
