<div class="description">
  <div class="row steps">
    <div class="col-md-12">
      <h4 *ngIf="model.summary && model.summary !== '<p><br></p>'">Summary</h4>
      <div class="panel panel-default">
        <div class="panel-body'">
          <app-summernote-editor [(htmlContent)]="model.summary" [placeholder]="'Summary'" [editMode]="true"></app-summernote-editor>
        </div>
      </div>
    </div>
  </div>
  <div class="row steps">
    <div class="col-md-12">
      <h4 *ngIf="model.preconditions && model.preconditions !== '<p><br></p>'">Preconditions</h4>
      <div class="panel panel-default">
        <div class="panel-body'">
          <app-summernote-editor [(htmlContent)]="model.preconditions" [placeholder]="'Preconditions'" [editMode]="true"></app-summernote-editor>
        </div>
      </div>
    </div>
  </div>
</div>
