<div class="sidebar_right">
  <ul>
    <li class="square">
      <span class="glyphicon glyphicon-arrow-left"></span><br>
      <span class="label"></span>
    </li>
    <li class="square">
      <span class="glyphicon glyphicon-arrow-right inactive"></span><br>
      <span class="label"></span>
    </li>
    <li class="square">
      <div class="wrap">
        <span class="glyphicon glyphicon glyphicon-inbox"></span><br>
        <span class="label">Summary</span>
        <span class="badge"><span class="glyphicon glyphicon-ok"></span></span>
      </div>
    </li>
    <li class="square">
      <p class="wrap">
        <span class="glyphicon glyphicon-th-list"></span><br>
        <span class="label">Record</span>
        <span class="badge"><span class="glyphicon glyphicon-ok"></span></span>
      </p>
    </li>
    <li class="square">
      <p class="wrap">
        <span class="glyphicon glyphicon-signal"></span><br>
        <span class="label">Steps</span>
        <span class="badge inactive">3</span>
      </p>
    </li>
    <li class="square">
      <div class="wrap inactive">
        <span class="glyphicon glyphicon-edit"></span><br>
        <span class="label">CustFlds</span>
        <span class="badge inactive">3</span>
      </div>
    </li>
    <li class="square">
      <div class="wrap">
        <span class="glyphicon glyphicon-paperclip"></span><br>
        <span class="label">Attachms</span>
        <span class="badge">3</span>
      </div>
    </li>
  </ul>
</div>
