<div class="sidebar_right">
  <ul>
    <li class="square">
      <span class="ring-icon icon-uE00A-ico-undo"></span><br>
      <span class="label"></span>
    </li>
    <li class="square">
      <span class="ring-icon icon-uE008-ico-redo inactive"></span><br>
      <span class="label"></span>
    </li>
    <li class="square">
      <div class="wrap">
        <span class="ring-icon icon-uE007-ico-navpanel-summary"></span><br>
        <span class="label">Summary</span>
        <span class="badge"><span class="glyphicon glyphicon-ok"></span></span>
      </div>
    </li>
    <li class="square">
      <p class="wrap">
        <span class="ring-icon icon-uE005-ico-navpanel-precond"></span><br>
        <span class="label">Record</span>
        <span class="badge"><span class="glyphicon glyphicon-ok"></span></span>
      </p>
    </li>
    <li class="square">
      <p class="wrap">
        <span class="ring-icon icon-uE006-ico-navpanel-steps"></span><br>
        <span class="label">Steps</span>
        <span class="badge inactive">3</span>
      </p>
    </li>
    <li class="square">
      <div class="wrap inactive">
        <span class="ring-icon icon-uE004-ico-navpanel-custfields"></span><br>
        <span class="label">CustFlds</span>
        <span class="badge inactive">3</span>
      </div>
    </li>
    <li class="square">
      <div class="wrap">
        <span class="ring-icon icon-uE003-ico-navpanel-attachms"></span><br>
        <span class="label">Attachms</span>
        <span class="badge">3</span>
      </div>
    </li>
  </ul>
</div>
