<div class="tree-context-container" [ngClass]="{open: contextDropdown.isOpen}"
     [style.top.px]="getOffset()"
     (mouseleave)="contextDropdown.hide()">
  <div dropdown class="mini-tabs" #contextDropdown="bs-dropdown"
       [autoClose]="false" (mouseleave)="contextDropdown.hide()" placement="right">
    <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
      <li [hidden]="isCancelAction()">
        <tabset [justified]="true" #contextTabs>
          <tab heading="Add" class="ic-add"></tab>
          <tab heading="Move" class="ic-move" (select)="onMove($event)"></tab>
          <tab [active]="true" heading="Edit" class="ic-ed active">
            <div class="block">
              <p><span class="ring-icon icon-ico-actions-copy"></span><br>Copy</p>
            </div>
            <div class="block">
              <p><span class="ring-icon icon-ico-actions-clone"></span><br>Clone</p>
            </div>
            <div class="block">
              <p><span class="ring-icon icon-ico-actions-remove-2"></span><br>Remove</p>
            </div>
          </tab>
        </tabset>
      </li>
      <li *ngIf="isCancelAction()">
        <div class="cancel-action" (click)="onCancel()">
          <span class="cancel-icon"></span>
          <span>Cancel</span>
        </div>
      </li>

    </ul>
  </div>
</div>
