<div class="tree-context-dropdown">	
	<div dropdown class="mini-tabs tree-item" triggers="mouseover" #dp="bs-dropdown"
       [autoClose]="false" (mouseleave)="dp.hide()" placement="right">
	  <a title="select" data-toggle="dropdown" dropdownToggle>

      <span class="checkbox" *ngIf="nodeData.selectable">
         <input type="checkbox" class="checkbox-btn" [id]="'radio' + nodeData.id"/>
         <label [for]="'radio' + nodeData.id" class="label"></label>
      </span>

      <span class="name" [ngClass]="{hovered: dp.isOpen}">{{ nodeData.name }}</span>
	  </a>
    <span class="items-count"[style.left.px]="parentWidth">{{ nodeData.count }}
      <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu >
	    <li>
	      <tabset>
	        <tab active="false" heading="Add" class="ic-add" id="tab1"></tab>
	        <tab active="false" heading="Move" class="ic-move"></tab>
	        <tab active="false" heading="Edit" class="ic-ed">
	          <div class="block">
	            <p><span class="ring-icon icon-ico-actions-copy"></span><br>Copy</p>
	          </div>
	          <div class="block">
	            <p><span class="ring-icon icon-ico-actions-clone"></span><br>Clone</p>
	          </div>
	          <div class="block">
	            <p><span class="ring-icon icon-ico-actions-remove-2"></span><br>Remove</p>
	          </div>
	        </tab>
	      </tabset>
	    </li>
	  </ul>
    </span>

	</div>
</div>
