<app-header></app-header>
<div class="container-fluid content-container">
  <div class="row page-row resizable-row">
    <as-split [direction]="'horizontal'">
      <as-split-area size="25" class="left-split-area">
          <app-left-sidebar></app-left-sidebar>
      </as-split-area>
      <as-split-area size="75" class="right-split-area">
        <div class="col-md-12 col-sm-12 col-xs-12 col-xl-12 content">
          <div class="scroll-wrap">
            <app-project-item></app-project-item>
          </div>
        </div>
      </as-split-area>
    </as-split>
  </div>
</div>
