<app-header></app-header>
<div class="container-fluid content-container">
  <div class="row page-row resizable-row">
    <as-split [direction]="horizontal" class="sa-c">
      <as-split-area size="25" class="sa-l" style="min-width: 25%; max-width: 40%;">
        <app-left-sidebar></app-left-sidebar>
      </as-split-area>
      <as-split-area size="75" style="max-width: 75%; min-width: 60%;">
        <div class="col-md-9 col-sm-9 col-xs-9 col-xl-9 content">
          <div class="scroll-wrap">
            <app-content-one></app-content-one>
          </div>
        </div>
      </as-split-area>
    </as-split>
  </div>
</div>
<app-right-sidebar></app-right-sidebar>
