@import "../scss/override-variables";
@import "../scss/custom-variables";

//
// custom global styles
// -----------------------

.freezed {
  position: fixed;
  z-index: 1000;
}

.sticky {
  position: sticky;
  z-index: 1000;
  top: 0;
}

.as-split-gutter-icon {
  width: 18px!important;
  height: 100vh!important;
  position: fixed;
  top: 0;
  background-image: none!important;
  z-index: 10000;
}

.as-split-gutter:after {
  @include font-icons();

  font-size: 24px;
  position: fixed;
  top: 42%;
  display: block;
  width: 18px;
  height: 24px;
  content: '\e90d';
  color: $right-sidebar-active-item;
}

.dotted {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-position: under;
}


.btn-xs {
  min-width: 80px;
  height: 24px;
  cursor: pointer;

  &:focus {
    background-image: none;
    outline: none!important;
    box-shadow: none;
  }
}

.btn-group {
  margin-right: 4px;
}


// -----------------------

.as-split-area,
as-split {
  overflow: visible !important;
}

.page-row {
  min-height: 100%;
  margin-right: 0;
}


.left-split-area {
  height: initial!important;
  overflow-x: hidden!important;
}

.right-split-area {

}
.no-wrap {
  overflow: visible;
  white-space: nowrap;
  flex-wrap: nowrap;
}

.scroll-wrap {
  position: relative;
  display: block;
  height: 100%;
}

.content {
  width: 100% !important;
  height: 100%;
  padding-left: 8px;
  padding-right: 0;
}

.content-container {
  display: table;
  width: 100%;
  height: 100%;
  margin-right: 0;
  padding-right: 0;
}

