<div class="header row normal-content-header sticky" #header [ngClass]="{'shadowed': isSticked(header)}">

  <div class="col-sm">
    <div class="small-row bcrumb" *ngIf="!sideBarClosed">
      <ul class="breadcrumb">
        <li><a href="#">RC UPB ALL</a></li>
        <li><a href="#">Telephony (black box)</a></li>
      </ul>
    </div>
    <div class="current-task-name" [ngClass]="{'single': sideBarClosed}">
      <div class="d-flex">
        <div class="task-number"><h4 class="dotted">{{model.key}}</h4><h4>:</h4></div>
        <div class="task-name name">
          <app-summernote-editor [htmlContent]="model.name" [simpleMode]="true"></app-summernote-editor>
          <div [ngClass]="{'fading': isSticked(header) }"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="version-actions">
    <div class="btn-group">
      <div dropdown placement="bottom right">
        <input type="button" dropdownToggle class="btn btn-light" [ngClass]="{'no-selected': true, 'selected': false}"
               [value]="'Execution type'">
        <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
          <li><a href="#">Manual</a></li>
          <li><a href="#">Automatic</a></li>
          <li><a href="#">Semi-Automatic</a></li>
        </ul>
      </div>

      <div dropdown placement="bottom right">
        <input type="button" dropdownToggle class="btn btn-light selected" [ngClass]="{'no-selected': false}"
               [value]="'P2'">

        <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu
            role="menu">
          <li><a href="#">P1</a></li>
          <li class="selected"><a href="#">P2</a></li>
          <li><a href="#">P3</a></li>
        </ul>
      </div>
    </div>
    <app-version-dropdown></app-version-dropdown>
    <div class="btn-group" dropdown placement="bottom right" [insideClick]="true" (onHidden)="isShowAdd = false">
      <button type="button" class="btn btn-default dropdown-toggle" dropdownToggle>More <span
        class="icon-ico-listopen"></span></button>

      <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu [ngClass]="{'unwrapped': isShowAdd}">
        <li [ngClass]="{'open': isShowAdd}"><a href="#" (click)="isShowAdd = true">Add to Test Plan</a>
          <ul class="dropdown-sub-menu dropdown-menu-right" [ngClass]="{'inner': isShowAdd}">
            <li class="filter-block">
              <div class="input-group">
                <input type="text" class="form-control search" id="search" placeholder="Find">
              </div>
            </li>
            <li class="list-block">
              <div class="list-group">
                <a href="#" class="list-group-item" *ngFor="let key of keys; index as idx;">
                  <input type="checkbox" class="checkbox-btn" [id]="'radio' + idx"/>
                  <label [for]="'radio' + idx" class="label">{{key}}</label>
                </a>
              </div>
            </li>
            <li class="add-controls">
              <button type="button" class="btn btn-default btn-link no-border text-uppercase" (click)="isShowAdd = false">Done</button>
            </li>
          </ul>
        </li>
        <li><a href="#">Delete</a></li>
      </ul>
    </div>

    <input class="btn btn-default btn-action" type="button" value="Save">
  </div>
</div>
