<div class="header row normal-content-header sticky  no-wrap" #header [ngClass]="{'shadowed': header.getBoundingClientRect().top == 0}">
  <div class="col-md-7">
    <div class="small-row bcrumb">
      <ul class="breadcrumb">
        <li><a href="#">RC UPB ALL</a></li>
        <li><a href="#">Telephony (black box)</a></li>
      </ul>
    </div>
    <div class="current-task-name">
      <div><h4 class="task-number dotted shift-left title">{{model.key}}:</h4></div>
      <div><h4 class="task-name name">{{model.name}}</h4></div>
    </div>
  </div>
  <div class="col-md-5 version-actions">
    <div class="btn-group">
      <div dropdown placement="bottom right">
        <input type="button" dropdownToggle class="btn btn-light" [ngClass]="{'no-selected': true}"
               [value]="'Execution type'">
        <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
          <li><a href="#">Manual</a></li>
          <li><a href="#">Automatic</a></li>
          <li><a href="#">Semi-Automatic</a></li>
        </ul>
      </div>

      <div dropdown placement="bottom right">
        <input type="button" dropdownToggle class="btn btn-light" [ngClass]="{'no-selected': true}"
               [value]="'Priority'">

        <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu
            role="menu">
          <li><a href="#">P1</a></li>
          <li><a href="#">P2</a></li>
          <li><a href="#">p3</a></li>
        </ul>
      </div>
    </div>
    <app-version-dropdown></app-version-dropdown>
    <div class="btn-group" dropdown placement="bottom right">
      <button type="button" class="btn btn-default dropdown-toggle" dropdownToggle>More <span
        class="icon-ico-listopen"></span></button>
      <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
        <li><a href="#">Add to Test Plan</a></li>
        <li><a href="#">Delete</a></li>
      </ul>
    </div>

    <input class="btn btn-default btn-action" type="button" value="Save">
  </div>
</div>
