<div class="header row normal-content-header sticky" #header [ngClass]="{'shadowed': isSticked(header)}">

  <div class="col-sm">
    <div class="small-row bcrumb" [hidden]="sideBarState === 'opened'">
      <ul class="breadcrumb">
        <li><a >RC UPB ALL</a></li>
        <li><a >Telephony (black box)</a></li>
      </ul>
    </div>
    <div class="current-task-name" [ngClass]="{'single': sideBarState === 'opened'}">
      <div class="d-flex">
        <div class="task-number"><h4 class="dotted">{{model.key}}</h4><h4>:</h4></div>
        <div class="task-name name">
          <span contenteditable="true" class="editable" spellcheck="false"
               [textContent]="model.name" (blur)="model.name=$event.target.textContent"></span>
          <div [ngClass]="{'fading': isSticked(header) }"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="version-actions">
    <div class="btn-group">
      <div dropdown placement="bottom right">
        <input type="button" dropdownToggle class="btn btn-light" [ngClass]="{'no-selected': true, 'selected': false}"
               id="btn-dropdown-type" aria-controls="dropdown-type"
               [value]="'Manual'">
        <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu appInternalScroll
            id="dropdown-type" aria-labelledby="btn-dropdown-type">
          <li><a >Manual</a></li>
          <li><a >Automatic</a></li>
          <li><a >Semi-Automatic</a></li>
          <li><a >Ready for Automation</a></li>
        </ul>
      </div>

      <div dropdown placement="bottom right">
        <input type="button" dropdownToggle class="btn btn-light selected" [ngClass]="{'no-selected': false}"
               [value]="'P2'" id="btn-dropdown-priority" aria-controls="dropdown-priority">

        <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu appInternalScroll
            id="dropdown-priority" aria-labelledby="btn-dropdown-priority"
            role="menu">
          <li><a >P1</a></li>
          <li class="selected"><a >P2</a></li>
          <li><a >P3</a></li>
        </ul>
      </div>
    </div>
    <app-version-dropdown></app-version-dropdown>
    <div class="btn-group" dropdown placement="bottom right" [insideClick]="true" (onHidden)="isShowAdd = false">
      <button type="button" class="btn btn-default btn-more dropdown-toggle" dropdownToggle
              id="btn-dropdown-more" aria-controls="dropdown-more">More <span
        class="ring-icon icon-ico-listopen"></span></button>

      <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu [ngClass]="{'unwrapped': isShowAdd}" appInternalScroll [internalScrollDisabled]="isShowAdd"
          id="dropdown-more" aria-labelledby="btn-dropdown-more">
        <li [ngClass]="{'open': isShowAdd}"><a  (click)="isShowAdd = true">Add to Test Plan</a>
          <ul class="dropdown-sub-menu dropdown-menu-right multi-select-dropdown" [ngClass]="{'inner': isShowAdd}">
            <li class="filter-block">
              <div class="input-group">
                <input type="text" class="form-control search" id="search" placeholder="Find">
              </div>
            </li>
            <li class="list-block" #scrollContainer>
              <div class="list-group" appInternalScroll [scrollAreaContainer]="scrollContainer">
                <a  class="list-group-item" *ngFor="let key of keys; index as idx;" (click)="$event.stopPropagation()">
                  <input type="checkbox" class="checkbox-btn" [id]="'radio-test-plan-' + idx"/>
                  <label [for]="'radio-test-plan-' + idx" class="label">{{key}}</label>
                </a>
              </div>
            </li>
            <li class="add-controls">
              <button type="button" class="btn btn-default btn-link no-border text-uppercase" (click)="isShowAdd = false">Done</button>
            </li>
          </ul>
        </li>
        <li><a >Delete</a></li>
      </ul>
    </div>

    <input class="btn btn-default btn-action" type="button" value="Save">
  </div>
</div>
