@import "../scss/_override-variables";

:host {
  position: sticky;
  z-index: 1000;
  top: 0;
}

.normal-content-header {
  background-color: $white;
  margin-left: -24px;
  margin-right: 0;
  margin-bottom: 30px;
  padding: 8px 24px 9px 9px;
  min-height: 64px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  &.shadowed {
    box-shadow: 4px 1px 15px 0 rgba(0, 0, 0, 0.08);
    height: 64px;

    .current-task-name {
      &.single {
        .fading {
          top: -7px;
        }
      }
    }

    .task-name {
      app-summernote-editor {
        .note-editor.note-frame .note-editing-area .note-editable, .smrnote-view {
          height: 1.4em !important;
          overflow: hidden;
          word-break: break-all;
          min-height: unset;

          p {
            display: inline;
            br {
              display: none;
            }
          }
        }
      }
    }

    .fading {
      position: absolute;
      top: 0;
      right: 0;
      width: 60px;
      height: 60px;
      background-image: linear-gradient(to right, transparent, white 57%);
    }
  }

  .breadcrumb {
    margin-bottom: 15px;
    padding: 0;

    list-style: none;

    border-radius: 2px;
    background-color: $white;

    li {
      a {
        font-size: 12px;
        color: $dark-blue;
        text-decoration: underline;
        text-decoration-color: $dark-blue;
        text-underline-position: under;
      }
    }

    & > li + li:before {
      padding: 0 5px;
      color: #ccc;
      content: "/ ";
    }
  }

  .version-actions {
    height: max-content;
    display: flex;
    justify-content: flex-end;
    padding: 7px 0 7px 7px;
    background-color: $white;

    > :last-child {
      margin-left: 6px;
    }

    .btn {
        color: $table-color;
        font-size: 12px;
        font-weight: normal;
    }
    .dropdown-menu {
      > li.open {
        a {
          padding-left: 20px;
          &:hover,
          &:focus {
            background: none;
          }
        }
      }

      &.unwrapped {
        > li:not(.open) {
          display: none;
        }
      }

      .dropdown-sub-menu {
        display: none;

        &.inner {
          display: flex;
          flex-direction: column;
          font-size: 14px;
          min-width: 344px;
          max-height: 408px;
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.04);
          padding: 10px 30px 0 20px;
          top: calc(100% + 3px) !important;
          border-top: 1px solid $light-grey;

          > li {
            display: block;

            &:nth-child(2) {
              overflow-y: auto;
              padding-right: 18px;
            }
          }

          .filter-block {
            padding-bottom: 6px;

            input.search {
              background-color: $btn-group-border;
              width: 100%;
              color: #000;
              border: none;
              box-shadow: none;
            }
          }

          .list-group {
            margin-bottom: 22px;

            .list-group-item {
              position: relative;
              display: flex;
              border: none;
              height: 52px;
              padding: 0;

              &:hover {
                background-color: $sidebar-bg !important;
              }

              .checkbox-btn {
                position: absolute;
                visibility: hidden;
                opacity: 0;
                height: 100%;

                &:checked {
                  + .label::before {
                    background: $dark-blue;
                  }

                  + .label::after {
                    display: block;
                  }
                }
              }

              .label {
                padding: 15px 30px 15px 0px;
                width: 100%;
                cursor: pointer;

                &:before {
                  position: absolute;
                  right: 0;
                  top: calc(50% - 10px);
                  width: 20px;
                  height: 20px;
                  content: '';
                  border: 2px solid $dark-blue;
                  border-radius: $border-radius-base;
                }

                &:after {
                  content: '';
                  display: none;
                  width: 7px;
                  height: 12px;
                  -webkit-transform: rotate(45deg);
                  transform: rotate(41deg);
                  border-bottom: 3px solid $white;
                  border-right: 3px solid $white;
                  position: absolute;
                  right: 7px;
                  top: calc(50% - 7px);
                }

              }
            }
          }

          .add-controls {
            margin-left: -22px;
            margin-right: -22px;
            padding-left: 22px;
            padding-right: 22px;
            border-top: 1px solid $light-grey;
            min-height: 64px;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .btn {
              flex: 0;
            }
          }
        }
      }
    }
  }

  .current-task-name {
    display: flex;
    flex-wrap: wrap;

    .d-flex {
      width: 100%;
    }

    &.single {
      padding-top: 13px;

      .task-number, .task-name {
        font-size: 18px;

        h4 {
          font-size: 18px;
        }
      }
    }
  }

  .task-number {
    font-size: 14px;
    font-weight: 300;
    color: $dark-grey;
    margin: -1px 23px 0 0;
    white-space: nowrap;
    display: flex;

    h4 {
      font-size: 14px;
      font-weight: 300;
    }
  }

  .task-name {
    font-size: 14px;
    font-weight: normal;
    color: $black;
    margin: -4px 0 0 -15px;
    width: 100%;
    white-space: normal;

    app-summernote-editor {
      width: 100%;

      .note-editor.note-frame .note-editing-area .note-editable, .smrnote-view {
        padding: 2px;
      }
    }
  }

  .btn {
    min-width: 80px;
  }

  .no-selected {
    color: $placeholder-gray;
  }

  .selected {
    font-weight: normal;
  }

  .btn-group {
    [dropdown] {
      position: relative;

      .btn {
        min-width: auto;
      }

      &:nth-child(n + 1) {
        margin-left: -1px;
      }
    }

    .btn {
      min-width: 80px;
      position: relative;
      flex: 1 1 auto;

      .icon-ico-listopen {
        font-size: 24px;
        position: absolute;
        padding-right: 5px;
        top: 5px;
        right: 0;
      }

      &.dropdown-toggle {
        min-width: auto;
        padding-right: 34px;
        padding-left: 10px;
      }
    }
  }
}

