@import "../scss/_override-variables";

:host {
  position: sticky;
  z-index: 1000;
  top: 0;
}

.normal-content-header {
  background-color: $white;
  margin-left: -25px;
  margin-right: 0;
  margin-bottom: 30px;
  padding: 8px 24px 9px 8px;
  min-height: 64px;

  &.shadowed {
    box-shadow: 4px 1px 15px 0 rgba(0, 0, 0, 0.08);
  }

  .breadcrumb {
    margin-bottom: 15px;
    padding: 0;

    list-style: none;

    border-radius: 2px;
    background-color: $white;

    li {
      a {
        font-size: 12px;
        color: $dark-blue;
        text-decoration: underline;
        text-decoration-color: $dark-blue;
        text-underline-position: under;
      }
    }

    & > li + li:before {
      padding: 0 5px;
      color: #ccc;
      content: "/ ";
    }
  }

  .version-actions {
    display: flex;
    justify-content: flex-end;
    padding: 7px 0 7px 7px;
    background-color: $white;

    > :last-child {
      margin-left: 6px;
    }
  }

  .current-task-name {
    display: flex;
    flex-wrap: nowrap;
  }

  .task-number {
    font-size: 14px;
    font-weight: 300;
    color: $dark-grey;
    margin: -4px 23px 0 0;
  }

  .task-name {
    font-size: 14px;
    font-weight: normal;
    color: $black;
    margin: -4px 0 0 -15px;
    max-width: 50vw;
    white-space: normal;
  }

  .btn {
    min-width: 80px;
  }

  .no-selected {
    color: $placeholder-gray;
  }

  .btn-group {
    [dropdown] {
      position: relative;

      .btn {
        min-width: auto;
      }

      &:nth-child(n + 1) {
        margin-left: -1px;
      }
    }

    .btn {
      min-width: 80px;
      position: relative;
      flex: 1 1 auto;

      .icon-ico-listopen {
        position: absolute;
        padding-right: 5px;
        top: 5px;
        right: 0;
      }

      &.dropdown-toggle {
        min-width: auto;
        padding-right: 34px;
        padding-left: 10px;
      }
    }
  }
}

