<div class="row">
  <div class="col-12-md">
    <table class="table table-striped text-table">
      <tr>
        <td width="20%">Lorem ipsum dolor sit.</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lobortis rhoncus fermentum. Donec ornare quam massa, vel condimentum quam viverra sit amet. Praesent id blandit justo. Maecenas sed mattis libero. Suspendisse potenti. Nulla feugiat cursus neque a malesuada. Vivamus massa felis, malesuada a dui sit amet, congue dictum erat. Suspendisse malesuada ac quam id scelerisque.</td>
      </tr>
      <tr>
        <td width="20%">Lorem ipsum dolor sit.</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lobortis rhoncus fermentum. Donec ornare quam massa, vel condimentum quam viverra sit amet. Praesent id blandit justo. Maecenas sed mattis libero. Suspendisse potenti. Nulla feugiat cursus neque a malesuada. Vivamus massa felis, malesuada a dui sit amet, congue dictum erat. Suspendisse malesuada ac quam id scelerisque.</td>
      </tr>
      <tr>
        <td width="20%">Lorem ipsum dolor sit.</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lobortis rhoncus fermentum. Donec ornare quam massa, vel condimentum quam viverra sit amet. Praesent id blandit justo. Maecenas sed mattis libero. Suspendisse potenti. Nulla feugiat cursus neque a malesuada. Vivamus massa felis, malesuada a dui sit amet, congue dictum erat. Suspendisse malesuada ac quam id scelerisque.</td>
      </tr>
      <tr>
        <td width="20%">Lorem ipsum dolor sit.</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lobortis rhoncus fermentum. Donec ornare quam massa, vel condimentum quam viverra sit amet. Praesent id blandit justo. Maecenas sed mattis libero. Suspendisse potenti. Nulla feugiat cursus neque a malesuada. Vivamus massa felis, malesuada a dui sit amet, congue dictum erat. Suspendisse malesuada ac quam id scelerisque.</td>
      </tr>
      <tr>
        <td width="20%">Lorem ipsum dolor sit.</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lobortis rhoncus fermentum. Donec ornare quam massa, vel condimentum quam viverra sit amet. Praesent id blandit justo. Maecenas sed mattis libero. Suspendisse potenti. Nulla feugiat cursus neque a malesuada. Vivamus massa felis, malesuada a dui sit amet, congue dictum erat. Suspendisse malesuada ac quam id scelerisque.</td>
      </tr>
      <tr>
        <td width="20%">Lorem ipsum dolor sit.</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lobortis rhoncus fermentum. Donec ornare quam massa, vel condimentum quam viverra sit amet. Praesent id blandit justo. Maecenas sed mattis libero. Suspendisse potenti. Nulla feugiat cursus neque a malesuada. Vivamus massa felis, malesuada a dui sit amet, congue dictum erat. Suspendisse malesuada ac quam id scelerisque.</td>
      </tr>
      <tr>
        <td width="20%">Lorem ipsum dolor sit.</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lobortis rhoncus fermentum. Donec ornare quam massa, vel condimentum quam viverra sit amet. Praesent id blandit justo. Maecenas sed mattis libero. Suspendisse potenti. Nulla feugiat cursus neque a malesuada. Vivamus massa felis, malesuada a dui sit amet, congue dictum erat. Suspendisse malesuada ac quam id scelerisque.</td>
      </tr>
    </table>
  </div>
</div>
