<div class="add-dropdown">
  <div dropdown placement="bottom right" [insideClick]="true"
       #dropdown="bs-dropdown">
    <span dropdownToggle><ng-content></ng-content></span>
    <ng-container *ngIf="rightPosition">
      <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
        <li class="filter-block">
          <div class="input-group">
            <input type="text" class="form-control search" placeholder="Find">
          </div>
        </li>
        <li class="list-block">
          <div class="list-group">
            <a href="javascript:void(0)" class="list-group-item" *ngFor="let key of keys; index as idx;">
              <input type="checkbox" class="checkbox-btn" [id]="'radio' + idx"/>
              <label [for]="'radio' + idx" class="label">{{key}}</label>
            </a>
          </div>
        </li>
        <li class="add-controls">
          <button type="button" class="btn btn-default no-border btn-link text-uppercase" (click)="dropdown.hide()">Done</button>
          <button type="button" class="btn btn-default no-border btn-link text-uppercase" (click)="dropdown.hide()">Cancel
          </button>
        </li>
      </ul>
    </ng-container>
    <ng-container *ngIf="!rightPosition">
      <ul class="dropdown-menu" *dropdownMenu>
        <li class="filter-block">
          <div class="input-group">
            <input type="text" class="form-control search" placeholder="Find">
          </div>
        </li>
        <li class="list-block">
          <div class="list-group">
            <a href="javascript:void(0)" class="list-group-item" *ngFor="let key of keys; index as idx;">
              <input type="checkbox" class="checkbox-btn" [id]="'radio' + idx"/>
              <label [for]="'radio' + idx" class="label">{{key}}</label>
            </a>
          </div>
        </li>
        <li class="add-controls">
          <button type="button" class="btn btn-default no-border btn-link text-uppercase" (click)="dropdown.hide()">Done</button>
          <button type="button" class="btn btn-default no-border btn-link text-uppercase" (click)="dropdown.hide()">Cancel
          </button>
        </li>
      </ul>
    </ng-container>
  </div>

</div>
