@import "../../../scss/override-variables";

.add-dropdown {
  margin: -1px;

  .btn {
    min-width: auto;
  }

  [dropdown] {
    position: relative;
    display: inline-flex;
  }

  .dropdown-menu {
    min-width: 336px;
    max-height: 435px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.04);

    &.show {
      display: flex;
      flex-direction: column;
    }


    .filter-block {

    }

    .list-block {

      .list-group {

        .list-group-item {

        }
      }


    }

    .add-controls {
    }
  }
}
