<div class="custom-fields">
  <div class="row">
    <div class="col-md-12">
      <h4>Custom Values</h4>
      <input class="btn btn-default btn-action" type="button" value="Add Field">
    </div>
  </div>

  <div class="row fields">
    <div class="col-md-2">
      <span class="field-name">Keywords</span>
    </div>
    <div class="col-md-10">
      <app-chips [chipsCollection]="keywords"></app-chips>
    </div>
  </div>
  <div class="row fields">
    <div class="col-md-2">
      <span class="field-name">Auxillary tags</span>
    </div>
    <div class="col-md-10">
      <app-chips [chipsCollection]="tags"></app-chips>
    </div>
  </div>
  <div class="row fields">
    <div class="col-md-2">
      <span class="field-name">Quantity</span>
    </div>
    <div class="col-md-10">
      <app-chips [chipsCollection]="quantity"></app-chips>
    </div>
  </div>
</div>

<div class="attachments">
  <div class="row ">
    <div class="col-md-12">
      <button type="button" class="btn btn-default btn-action">Add Attachment</button>
    </div>
  </div>
  <div class="row attachment-list">
    <div class="col-sm attachment-item">
      <div class="img"></div>
      <div class="description">
        <p class="filename">filename.bat</p>
        <p class="info">by John Smith, November 5th</p>
      </div>
      <button type="button" class="btn btn-clear remove-btn">
        <span class="icon-ico-delete"></span>
      </button>
    </div>
    <div class="col-sm attachment-item">
      <div class="img"></div>
      <div class="description">
        <p class="filename">filename.bat</p>
        <p class="info">by John Smith, November 5th</p>
      </div>
      <button type="button" class="btn btn-clear remove-btn">
        <span class="icon-ico-delete"></span>
      </button>
    </div>
    <div class="col-sm attachment-item">
      <div class="img"></div>
      <div class="description">
        <p class="filename">filename.bat</p>
        <p class="info">by John Smith, November 5th</p>
      </div>
      <button type="button" class="btn btn-clear remove-btn">
        <span class="icon-ico-delete"></span>
      </button>
    </div>
    <div class="col-sm attachment-item">
      <div class="img"></div>
      <div class="description">
        <p class="filename">filename.bat</p>
        <p class="info">by John Smith, November 5th</p>
      </div>
      <button type="button" class="btn btn-clear remove-btn">
        <span class="icon-ico-delete"></span>
      </button>
    </div>
    <div class="col-sm attachment-item">
      <div class="img"></div>
      <div class="description">
        <p class="filename">filename.bat</p>
        <p class="info">by John Smith, November 5th</p>
      </div>
      <button type="button" class="btn btn-clear remove-btn">
        <span class="icon-ico-delete"></span>
      </button>
    </div>
    <div class="col-sm attachment-item">
      <div class="img"></div>
      <div class="description">
        <p class="filename">filename.bat</p>
        <p class="info">by John Smith, November 5th</p>
      </div>
      <button type="button" class="btn btn-clear remove-btn">
        <span class="icon-ico-delete"></span>
      </button>
    </div>
    <div class="col-sm attachment-item">
      <div class="img"></div>
      <div class="description">
        <p class="filename">filename.bat</p>
        <p class="info">by John Smith, November 5th</p>
      </div>
      <button type="button" class="btn btn-clear remove-btn">
        <span class="icon-ico-delete"></span>
      </button>
    </div>
  </div>
  <div class="row m-t-64">
    <div class="col-md-12 ">
    </div>
  </div>
</div>
