@import "../../../scss/override-variables";


.custom-fields {
  margin-right: 24px;
  margin-bottom: 36px;

  .btn {
    min-width: 100px;
  }

  .row {
    &.fields {
      margin: 4px 0;
      padding: 6px 0 2px;
      align-items: center;

      &:nth-child(2n+1) {
        background-color: $sidebar-bg;
      }
    }

    .field-name {
      font-size: 14px;
      font-weight: normal;
      margin-top: 8px;
      display: block;
    }
  }
}

.attachments {
  margin-right: 24px;

  .attachment-list {
    margin: 24px 0;

    .attachment-item {
      display: flex;
      margin-bottom: 5px;

      .img {
        float: left;

        min-width: 72px;
        height: 48px;
        margin-right: 17px;

        border: 1px solid #ebebeb;
        border-radius: 1px;
        background-color: $sidebar-bg;
      }

      .description {
        float: left;
        padding-top: 8px;
        font-size: 14px;
        overflow: hidden;

        .info {
          padding-top: 0;
          color: #c8c8c8;
          max-width: 100%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .filename {
          margin-bottom: 0;
          color: $black;
          max-width: 100%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      .remove-btn {
        height: 48px;

        .icon-ico-delete {
          font-size: 24px;
          color: $light-grey;
          vertical-align: middle;
        }
      }
    }
  }
}
