<div class="custom-fields">
  <div class="row">
    <div class="col-12-md">
      <h4 class="text2">Custom Values</h4>
      <input class="btn btn-default m-r-7" type="button" value="Save">
      <div class="btn-group gray-border chips m-r-7">
        <button type="button" class="btn btn-default p-r-25">Priority  <span class="icon-ico-listopen"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
      <div class="btn-group gray-border chips">
        <button type="button" class="btn btn-default p-r-25">Execution type <span class="icon-ico-listopen"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row steps">
    <div class="col-md-2">
      <h5 class="text2">Priority</h5>
    </div>
    <div class="col-md-10">
      <div class="btn-group gray-border chips">
        <button type="button" class="btn btn-default">P2</button>
        <button type="button" class="btn btn-deault remove-btn">
          <span class="icon-ico-ico-searchreset"></span>
        </button>
      </div>
      <div class="btn-group gray-border chips">
        <button type="button" class="btn btn-clear remove-btn trash-icon">
          <span class="icon-ico-delete"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="row steps">
    <div class="col-md-2">
      <h5 class="text2">Keywords</h5>
    </div>
    <div class="col-md-10">
      <div class="btn-group gray-border chips">
        <button type="button" class="btn btn-default">Functionality</button>
        <button type="button" class="btn btn-deault remove-btn">
          <span class="icon-ico-ico-searchreset"></span>
        </button>
      </div>
      <div class="btn-group gray-border chips">
        <button type="button" class="btn btn-default">Accepted_ODS</button>
        <button type="button" class="btn btn-deault remove-btn">
          <span class="icon-ico-ico-searchreset"></span>
        </button>
      </div>
      <div class="btn-group gray-border chips">
        <button type="button" class="btn btn-default">Admin Web</button>
        <button type="button" class="btn btn-deault remove-btn">
          <span class="icon-ico-ico-searchreset"></span>
        </button>
      </div>
      <div class="btn-group gray-border chips">
        <button type="button" class="btn btn-default">Directory Integration</button>
        <button type="button" class="btn btn-deault remove-btn">
          <span class="icon-ico-ico-searchreset"></span>
        </button>
      </div>
      <div class="btn-group gray-border chips">
        <button type="button" class="btn btn-default">RBS_Aplicable</button>
        <button type="button" class="btn btn-deault remove-btn">
          <span class="icon-ico-ico-searchreset"></span>
        </button>
      </div>
      <div class="btn-group gray-border chips">
        <button type="button" class="btn btn-clear remove-btn trash-icon">
          <span class="icon-ico-delete"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="row steps">
    <div class="col-md-2">
      <h5 class="text2">Auxillary tags</h5>
    </div>
    <div class="col-md-10">
      <div class="btn-group gray-border chips">
        <button type="button" class="btn btn-default">9.1_FT2_XMN</button>
        <button type="button" class="btn btn-deault remove-btn">
          <span class="icon-ico-ico-searchreset"></span>
        </button>
      </div>
      <div class="btn-group gray-border chips">
        <button type="button" class="btn btn-clear remove-btn trash-icon">
          <span class="icon-ico-delete"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="row steps">
    <div class="col-md-2">
      <h5 class="text2">Quantity</h5>
    </div>
    <div class="col-md-10">
      <div class="btn-group gray-border chips">
        <button type="button" class="btn btn-default">One in release</button>
        <button type="button" class="btn btn-deault remove-btn">
          <span class="icon-ico-ico-searchreset"></span>
        </button>
      </div>
      <div class="btn-group gray-border chips">
        <button type="button" class="btn btn-clear remove-btn trash-icon">
          <span class="icon-ico-delete"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="row steps">
    <div class="col-md-12">
      <button type="button" class="btn btn-default">Add Attachment</button>
    </div>
  </div>
  <div class="row steps">
    <div class="col-md-12">
      <span class="border attachment"></span>
    </div>
  </div>
  <div class="row steps">
    <div class="col-md-12">
      <div class="att-item">
        <div class="img"></div>
        <div class="descr">
          <p class="nm">filename.bat</p>
          <p class="inf">by John Smith, November 5th</p>
        </div>
        <button type="button" class="btn btn-clear remove-btn">
          <span class="icon-ico-delete"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="row m-t-64">
    <div class="col-12-md ">
    </div>
  </div>
</div>
