@font-face {
  font-family: 'icomoon';

  src: url('../fonts/ring-icons.eot');
  src: url('../fonts/ring-icons.eot?#iefix') format('eot'),
  url('../fonts/ring-icons.woff2') format('woff2'),
  url('../fonts/ring-icons.woff') format('woff'),
  url('../fonts/ring-icons.ttf') format('truetype'),
  url('../fonts/ring-icons.svg#ring-icons') format('svg');
}

[class^='icon-'],
[class*=' icon-'] {
  font-family: 'icomoon' !important;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;

  text-transform: none;

  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.easy-tree {
  .tree-node-level-1 {
    padding-bottom: 20px;
  }

  .tree-children {
    margin-left: 6px;
    padding-right: 0;
    padding-left: 11px;

    border-left: 1px solid $tree-grey;
    overflow: visible;
  }

  .toggle-children-placeholder,
  .toggle-children {
    font-family: 'icomoon';
    font-weight: normal;
    font-style: normal;
    line-height: 1;

    position: relative;
    top: 1px;

    display: inline-block;

    -webkit-font-smoothing: antialiased;
  }

  .toggle-children {
    color: $dark-blue;
    background-image: none;

    &:before {
      font-size: 24px;

      position: absolute;
      top: -5px;
      left: -5px;

      content: '\e904';
    }
  }

  .toggle-children-placeholder {
    margin-right: 10px;

    color: $btn-group-border;

    &:before {
      font-size: 24px;

      content: '\e90f';
    }
  }


  .node-content-wrapper {
    position: relative;

    width: 100%;

    a {
      span.items-count {
        font-size: 12px;

        position: absolute;
        top: 6px;
        right: 0;

        padding-left: 10px;

        text-align: right;

        color: $tree-base-grey;
        background-color: $sidebar-bg;
      }

      .name {
        font-size: 13px;
        color: $tree-name-grey;
      }
    }
  }

  .node-wrapper {
    display: flex;
    align-items: center;
  }

  tree-node-content {
    a {
      width: 100%;

      text-decoration: none;

      span.items-count {
        font-size: 12px;

        position: absolute;
        top: 6px;
        right: 0;

        padding-left: 10px;

        text-align: right;

        color: $tree-base-grey;
        background-color: $sidebar-bg;
      }

      .name:hover {
        font-size: 13px;
        font-weight: normal;
        color: $tree-hover-grey;
      }
    }
  }

  .toggle-children-wrapper-collapsed .toggle-children {
    margin-top: 8px;
    margin-right: 5px;

    transform: rotate(-90deg);
  }

  .toggle-children-wrapper-expanded .toggle-children {
    margin-top: 4px;
    margin-right: 5px;

    transform: rotate(0);
  }


  .node-content-wrapper-active,
  .node-content-wrapper:hover {
    background: none;
    box-shadow: none;
    border: none;
  }

  .tree-node-leaf {
    height: 27px;


    .node-content-wrapper-focused,
    .node-content-wrapper-active {
      font-size: 13px;
      font-weight: 500;

      border: none;
      background: none;

      a {
        .name {
          color: $dark-blue;

          &:hover {
            font-size: 13px;
            font-weight: 500;
            color: $dark-blue;
          }
        }

      }
    }
  }

  .tree-node-leaf.tree-node-active,
  .tree-node-leaf.tree-node-focused {
    .toggle-children-placeholder {
      &:before {
        color: $dark-blue;
      }
    }
  }


  .open > .dropdown-menu.show {
    top: calc(100% - 12px)!important;
  }
}
