@font-face {
	font-family: "ring-icons";
	src: url('../fonts/ring-icons.eot');
	src: url('../fonts/ring-icons.eot?#iefix') format('eot'),
		url('../fonts/ring-icons.woff2') format('woff2'),
		url('../fonts/ring-icons.woff') format('woff'),
		url('../fonts/ring-icons.ttf') format('truetype'),
		url('../fonts/ring-icons.svg#ring-icons') format('svg');
}

.icon:before {
	font-family: "ring-icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-ico-case-active:before {
	content: "\E001";
}

.icon-ico-delete:before {
	content: "\E002";
}

.icon-ico-navpanel-attachms:before {
	content: "\E003";
}

.icon-ico-navpanel-custfields:before {
	content: "\E004";
}

.icon-ico-navpanel-precond:before {
	content: "\E005";
}

.icon-ico-navpanel-steps:before {
	content: "\E006";
}

.icon-ico-navpanel-summary:before {
	content: "\E007";
}

.icon-ico-redo:before {
	content: "\E008";
}

.icon-ico-settings:before {
	content: "\E009";
}

.icon-ico-undo:before {
	content: "\E00A";
}
