@font-face {
  font-family: 'icomoon';

  src: url('../fonts/ring-icons.eot');
  src: url('../fonts/ring-icons.eot?#iefix') format('eot'),
  url('../fonts/ring-icons.woff2') format('woff2'),
  url('../fonts/ring-icons.woff') format('woff'),
  url('../fonts/ring-icons.ttf') format('truetype'),
  url('../fonts/ring-icons.svg#ring-icons') format('svg');
}

@font-face {
  font-family: 'icomoon';
  src: url('./../fonts/icomoon.eot?2yuqp4');
  src: url('./../fonts/icomoon.eot?2yuqp4#iefix') format('embedded-opentype'),
  url('./../fonts/icomoon.ttf?2yuqp4') format('truetype'),
  url('./../fonts/icomoon.woff?2yuqp4') format('woff'),
  url('./../fonts/icomoon.svg?2yuqp4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-ico-actions-remove-2:before {
  content: "\e915";
  color: $dark-blue;
}
.icon-ico-actions-add:before {
  content: "\e914";
  color: #0c4ba8;
}
.icon-ico-actions-edit:before {
  content: "\e913";
  color: $dark-blue;
}
.icon-ico-actions-clone:before {
  content: "\e911";
  color: $dark-blue;
}
.icon-ico-actions-copy:before {
  content: "\e912";
  color: $dark-blue;
}
.icon-ico-actions-move:before {
  content: "\e910";
  color: #0c4ba8;
}
.icon-ico-case-notactive:before {
  content: "\e90f";
}
.icon-ico-listopen:before {
  content: "\e904";
  color: $dark-blue;
}
.icon-ico-searchreset:before {
  content: "\e905";
  color: #979797;
}
.icon-ico-case-active:before {
  content: "\e900";
  color: $dark-blue;
}
.icon-ico-delete:before {
  content: "\e901";
  color: $btn-group-border;
}
.icon-ico-drag:before {
  content: "\e902";
  color: #d8d8d8;
}
.icon-ico-head-arrow:before {
  content: "\e903";
  color: #fff;
}
.icon-ico-navpanel-attachms:before {
  content: "\e906";
  color: $dark-blue;
}
.icon-ico-navpanel-custfields:before {
  content: "\e907";
  color: $dark-blue;
}
.icon-ico-navpanel-precond:before {
  content: "\e908";
  color: $dark-blue;
}
.icon-ico-navpanel-steps:before {
  content: "\e909";
  color: $dark-blue;
}
.icon-ico-navpanel-summary:before {
  content: "\e90a";
  color: $dark-blue;
}
.icon-ico-redo:before {
  content: "\e90b";
  color: $dark-blue;
}
.icon-ico-settings:before {
  content: "\e90c";
  color: $dark-blue;
}
.icon-ico-tree-move:before {
  content: "\e90d";
  color: $right-sidebar-active-item;
}
.icon-ico-undo:before {
  content: "\e90e";
  color: $dark-blue;
}

.icon-ico-plus:before {
  content: "\2b";
  color: $dark-grey;
}

.icon-ico-folder:before {
  content: "\E92F";
  color: $tree-separator-grey;
}


