@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icons/icomoon.eot?2yuqp4');
  src:  url('../fonts/icons/icomoon.eot?2yuqp4#iefix') format('embedded-opentype'),
    url('../fonts/icons/icomoon.ttf?2yuqp4') format('truetype'),
    url('../fonts/icons/icomoon.woff?2yuqp4') format('woff'),
    url('../fonts/icons/icomoon.svg?2yuqp4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-uE00A-ico-undo:before {
  content: "\e900";
  color: #0747a6;
}
.icon-uE001-ico-case-active:before {
  content: "\e901";
  color: #0747a6;
}
.icon-uE002-ico-delete:before {
  content: "\e902";
  color: #e7e5e5;
}
.icon-uE003-ico-navpanel-attachms:before {
  content: "\e903";
  color: #0747a6;
}
.icon-uE004-ico-navpanel-custfields:before {
  content: "\e904";
  color: #0747a6;
}
.icon-uE005-ico-navpanel-precond:before {
  content: "\e905";
  color: #0747a6;
}
.icon-uE006-ico-navpanel-steps:before {
  content: "\e906";
  color: #0747a6;
}
.icon-uE007-ico-navpanel-summary:before {
  content: "\e907";
  color: #0747a6;
}
.icon-uE008-ico-redo:before {
  content: "\e908";
  color: #0747a6;
}
.icon-uE009-ico-settings:before {
  content: "\e909";
  color: #0747a6;
}
