@font-face {
  font-family: 'icomoon';
  src:  url('./../fonts/icomoon.eot?2yuqp4');
  src:  url('./../fonts/icomoon.eot?2yuqp4#iefix') format('embedded-opentype'),
    url('./../fonts/icomoon.ttf?2yuqp4') format('truetype'),
    url('./../fonts/icomoon.woff?2yuqp4') format('woff'),
    url('./../fonts/icomoon.svg?2yuqp4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ico-listopen:before {
  content: "\e904";
  color: #0747a6;
}
.icon-ico-ico-searchreset:before {
  content: "\e905";
  color: #979797;
}
.icon-ico-case-active:before {
  content: "\e900";
  color: #0747a6;
}
.icon-ico-delete:before {
  content: "\e901";
  color: #e7e5e5;
}
.icon-ico-drag:before {
  content: "\e902";
  color: #d8d8d8;
}
.icon-ico-head-arrow:before {
  content: "\e903";
  color: #fff;
}
.icon-ico-navpanel-attachms:before {
  content: "\e906";
  color: #0747a6;
}
.icon-ico-navpanel-custfields:before {
  content: "\e907";
  color: #0747a6;
}
.icon-ico-navpanel-precond:before {
  content: "\e908";
  color: #0747a6;
}
.icon-ico-navpanel-steps:before {
  content: "\e909";
  color: #0747a6;
}
.icon-ico-navpanel-summary:before {
  content: "\e90a";
  color: #0747a6;
}
.icon-ico-redo:before {
  content: "\e90b";
  color: #0747a6;
}
.icon-ico-settings:before {
  content: "\e90c";
  color: #0747a6;
}
.icon-ico-tree-move:before {
  content: "\e90d";
  color: #d8d8d8;
}
.icon-ico-undo:before {
  content: "\e90e";
  color: #0747a6;
}

