html,
body,
container
{
    height: 100%;
}

hr
{
    height: 0;
    margin: 15px 0;

    border: 1px solid $hr-color;
}

.btn:focus,
.btn.focus,
.btn:active:focus,
.btn:active.focus,
.btn.active:focus,
.btn.active.focus
{
    outline: none;
}

.form-control
{
    border-radius: 0;
}

.form-control:focus
{
    border-color: #0747a6;
    outline: none;
    box-shadow: none;
}

h1.heading0
{
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.5;

    letter-spacing: normal;

    color: $heading0;
}

h4
{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;

    letter-spacing: normal;
}

.text1
{
    color: $text1;
}

.text2
{
    color: $text2;
}

.no-wrap
{
    overflow: hidden;

    width: 100%;

    white-space: nowrap;
}
.small-row
{
    margin-left: -15px;
    &.bcrumb
    {
        margin-top: -14px;
    }
}

.shift-left
{
    margin-left: -12px !important;
}

.dotted
{
    text-decoration: underline;

    text-decoration-style: dotted;
    text-underline-position: under;
}

.m-b-16
{
    margin-bottom: 16px;
}

.m-b-17
{
    margin-bottom: 17px;
}

.m-t-16
{
    margin-top: 16px;
}

.m-t-19
{
    margin-top: 19px;
}

.m-t-64
{
    margin-top: 64px;
}

.glyphicon
{
    &.remove
    {
        font-size: 24px;
        font-weight: 300;

        position: absolute;
        z-index: 999;
        top: 6;
        right: -2px;

        color: $text1;
    }
}

.chbox-checked
{
    background-color: #f0f6fe;
}

.checkbox-container
{
    font-family: Roboto;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;

    position: relative;

    padding: 5px;
    padding-left: 22px;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    letter-spacing: normal;

    color: #767676;
}

.checkbox-container input
{
    position: absolute;

    width: 0;
    height: 0;

    cursor: pointer;

    opacity: 0;
}

.checkmark
{
    position: absolute;
    top: 3px;
    left: 0;

    width: 18px;
    height: 18px;

    border: 1px solid #e7e8ec;
    background-color: $white;
}





.checkmark:after
{
    position: absolute;

    display: none;

    content: '';
}

.checkbox-container input:checked ~ .checkmark:after
{
    display: block;
}

.checkbox-container .checkmark:after
{
    top: 1px;
    left: 3px;

    width: 10px;
    height: 10px;

    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);

    border: solid $dark-blue;
    border-width: 0 1px 1px 0;
}

//
// Buttons
// --------------------------------------------------

// Common styles
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger
{
    text-shadow: none;

    $shadow: none;
    @include box-shadow($shadow);

    // Reset the shadow
    &:active,
    &.active
    {
        @include box-shadow(none);
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] &
    {
        @include box-shadow(none);
    }

    .badge
    {
        border-radius: 50%;
        text-shadow: none;
    }

    &.dropdown-toggle
    {
        min-width: auto;

        border-left: none;
        background-color: $white;
    }
}

.btn-clear
{
    font-size: 24px;

    min-width: auto;

    color: $dark-blue;
    border: none;
    background-color: transparent;

    .glyphicon
    {
        margin-top: -4px;
    }
}

// Mixin for generating new styles
@mixin btn-styles($btn-color: $dark-blue)
{
    &:hover,
    &:focus
    {
        //background-color: darken($btn-color, 12%);
        //background-position: 0 -15px;
    }

    &:active,
    &.active
    {
        //background-color: darken($btn-color, 12%);
        //border-color: darken($btn-color, 14%);
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] &
    {
        &,
        &:hover,
        &:focus,
        &.focus,
        &:active,
        &.active
        {
            //background-color: darken($btn-color, 12%);
            //background-image: none;
        }
    }
}

// Common styles
.btn
{
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;

    min-width: 150px;
    height: 32px;

    letter-spacing: normal;

    border-color: $dark-blue;
    text-shadow: none;

    //margin: 3.4px;

    &.dropdown-toggle
    {
        min-width: auto;
        margin-left: -1px;

        border-left: none;
        background-color: $white;
    }

    // Remove the gradient for the pressed/active state
    &:active,
    &.active
    {
        background-image: none;
    }
}

.btn-group.open .dropdown-toggle
{
    -webkit-box-shadow: none;
            box-shadow: none;
}

.btn-default
{
    &:hover,
    &:focus
    {
        border-color: $btn-default-focused-color;
        background-color: $white;
    }

    &:active:focus
    {
        border-color: $btn-default-focused-color;
        background-color: $btn-default-active-bg;
    }

    &:active,
    &.active
    {
        border-color: $btn-default-focused-color;
        background-color: $btn-default-active-bg;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] &
    {
        &,
        &:hover,
        &:focus,
        &.focus,
        &:active,
        &.active
        {
            border-color: $btn-default-focused-color;
            background-color: $btn-default-active-bg;
        }
    }
}

.btn-primary
{
    &:hover,
    &:focus
    {
        border-color: $light-blue;
        background-color: $light-blue;
    }

    &:active,
    &.active
    {
        border-color: $darkest-blue;
        background-color: $darkest-blue;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] &
    {
        &,
        &:hover,
        &:focus,
        &.focus,
        &:active,
        &.active
        {
            border-color: $darkest-blue;
            background-color: $darkest-blue;
        }
    }
}

.btn-xs,
.btn-group-xs > .btn
{
    font-size: 12px;

    min-width: 80px;
    height: 24px;

    color: #000;
    border: 1px solid $btn-group-border;
    background-color: $white;

    &.active
    {
        font-size: 12px;
        font-weight: normal;

        background-color: $btn-group-border;
    }
}

.btn-group-xs > .btn
{
    font-size: 14px;
    font-weight: 300;

    background-color: transparent;
}

// Apply the mixin to the buttons
.btn-default
{
    @include btn-styles($btn-default-bg);
}

.btn-primary
{
    @include btn-styles($btn-primary-bg);
}

.btn-success
{
    @include btn-styles($btn-success-bg);
}

.btn-info
{
    @include btn-styles($btn-info-bg);
}

.btn-warning
{
    @include btn-styles($btn-warning-bg);
}

.btn-danger
{
    @include btn-styles($btn-danger-bg);
}


//
// Images
// --------------------------------------------------

.thumbnail,
.img-thumbnail
{
    @include box-shadow(0 1px 2px rgba(0, 0, 0, .075));
}


//
// Dropdowns
// --------------------------------------------------

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus
{
    background-color: darken($dropdown-link-hover-bg, 5%);

    @include gradient-vertical($start-color: $dropdown-link-hover-bg, $end-color: darken($dropdown-link-hover-bg, 5%));
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus
{
    background-color: darken($dropdown-link-active-bg, 5%);

    @include gradient-vertical($start-color: $dropdown-link-active-bg, $end-color: darken($dropdown-link-active-bg, 5%));
}


//
// Navbar
// --------------------------------------------------

.navbar-default .nav.navbar-nav.navbar-right li > a.user-name
{
    font-weight: 400;
    font-style: 13px;
    line-height: 24px;

    color: $white;

    .user-role
    {
        font-weight: 300;

        margin-left: 4px;
    }

    .icon-ico-head-arrow
    {
        font-size: 24px;
        line-height: normal;

        vertical-align: middle;
    }
}

// Default navbar
.navbar-default
{
    border-radius: $navbar-border-radius;

    $shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
    @include box-shadow($shadow);

    .navbar-nav > .open > a,
    .navbar-nav > .active > a
    {
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
    }

    .nav.navbar-nav.navbar-right
    {
        margin-right: auto;

        li > a
        {
            font-size: 13px;
            font-weight: 300;
            font-style: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;

            letter-spacing: normal;
        }

        li.active > a
        {
            font-weight: normal;
        }
    }
}

div.navbar-header > a.navbar-brand
{
    font-size: 24px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;

    margin-right: 22px;

    letter-spacing: -.6px;

    color: $navbar-barnd-color;
}

.navbar-nav > li > a
{
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;

    color: $navbar-active-color;
}

.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom
{
    border-radius: 0;
}

@media (max-width: $grid-float-breakpoint-max)
{
    .navbar .navbar-nav .open .dropdown-menu > .active > a
    {
        &,
        &:hover,
        &:focus
        {
            color: #fff;

            @include gradient-vertical($start-color: $dropdown-link-active-bg, $end-color: darken($dropdown-link-active-bg, 5%));
        }
    }
}


//
// Alerts
// --------------------------------------------------

// Common styles
.alert
{
    text-shadow: 0 1px 0 rgba(255, 255, 255, .2);

    $shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .05);
    @include box-shadow($shadow);
}

// Mixin for generating new styles
@mixin alert-styles($color)
{
    border-color: darken($color, 15%);

    @include gradient-vertical($start-color: $color, $end-color: darken($color, 7.5%));
}

// Apply the mixin to the alerts
.alert-success
{
    @include alert-styles($alert-success-bg);
}

.alert-info
{
    @include alert-styles($alert-info-bg);
}

.alert-warning
{
    @include alert-styles($alert-warning-bg);
}

.alert-danger
{
    @include alert-styles($alert-danger-bg);
}


//
// Progress bars
// --------------------------------------------------

// Give the progress background some depth
.progress
{
    @include gradient-vertical($start-color: darken($progress-bg, 4%), $end-color: $progress-bg);
}

// Mixin for generating new styles
@mixin progress-bar-styles($color)
{
    @include gradient-vertical($start-color: $color, $end-color: darken($color, 10%));
}

// Apply the mixin to the progress bars
.progress-bar
{
    @include progress-bar-styles($progress-bar-bg);
}

.progress-bar-success
{
    @include progress-bar-styles($progress-bar-success-bg);
}

.progress-bar-info
{
    @include progress-bar-styles($progress-bar-info-bg);
}

.progress-bar-warning
{
    @include progress-bar-styles($progress-bar-warning-bg);
}

.progress-bar-danger
{
    @include progress-bar-styles($progress-bar-danger-bg);
}

// Reset the striped class because our mixins don't do multiple gradients and
// the above custom styles override the new `.progress-bar-striped` in v3.2.0.
.progress-bar-striped
{
    @include gradient-striped;
}


//
// List groups
// --------------------------------------------------

.list-group
{
    border-radius: $border-radius-base;

    @include box-shadow(0 1px 2px rgba(0, 0, 0, .075));
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus
{
    border-color: darken($list-group-active-border, 7.5%);
    text-shadow: 0 -1px 0 darken($list-group-active-bg, 10%);

    @include gradient-vertical($start-color: $list-group-active-bg, $end-color: darken($list-group-active-bg, 7.5%));

    .badge
    {
        text-shadow: none;
    }
}


//
// Panels
// --------------------------------------------------

// Common styles
.panel
{
    @include box-shadow(0 1px 2px rgba(0, 0, 0, .05));
}

// Mixin for generating new styles
@mixin panel-heading-styles($color)
{
    @include gradient-vertical($start-color: $color, $end-color: darken($color, 5%));
}

// Apply the mixin to the panel headings only
.panel-default > .panel-heading
{
    @include panel-heading-styles($panel-default-heading-bg);
}

.panel-primary > .panel-heading
{
    @include panel-heading-styles($panel-primary-heading-bg);
}

.panel-success > .panel-heading
{
    @include panel-heading-styles($panel-success-heading-bg);
}

.panel-info > .panel-heading
{
    @include panel-heading-styles($panel-info-heading-bg);
}

.panel-warning > .panel-heading
{
    @include panel-heading-styles($panel-warning-heading-bg);
}

.panel-danger > .panel-heading
{
    @include panel-heading-styles($panel-danger-heading-bg);
}


//
// Wells
// --------------------------------------------------

.well
{
    border-color: darken($well-bg, 10%);

    @include gradient-vertical($start-color: darken($well-bg, 5%), $end-color: $well-bg);
    $shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 1px 0 rgba(255, 255, 255, .1);
    @include box-shadow($shadow);
}

//
// Tabs
// --------------------------------------------------

.tab-content
{
    padding: 25px;

    border-right: 1px solid $nav-tabs-border-color;
    border-bottom: 1px solid $nav-tabs-border-color;
    border-left: 1px solid $nav-tabs-border-color;
}

ul.nav-tabs
{
    height: 46px;

    li
    {
        min-width: 160px;
        height: 46px;

        text-align: center;

        a
        {
            font-size: 14px;
            font-weight: 500;
            line-height: 1.57;

            text-transform: uppercase;

            color: $dark-blue;
        }
    }

    li.active
    {
        a
        {
            font-size: 12px;
            line-height: 1.33;

            padding-top: 14px;
            padding-bottom: 14px;

            letter-spacing: .6px;

            color: $nav-tabs-active-link-color;
        }
    }
}

.filters
{
    margin-top: 8px;

    .tab-content
    {
        padding: 5px;

        border: 1px solid $filters-bg;
        background-color: $filters-bg;

         > .tab-pane
        {
             > .input-group
            {
                width: 100%;
            }
        }

        input[type='text']
        {
            color: #000;
            border: none;
            background: $filters-bg;
            box-shadow: none;

            &::placeholder
            {
                text-transform: none;
            }
        }
    }

    ul.nav-tabs
    {
        height: 36px;

        border-bottom: none;

        li
        {
            width: auto;
            min-width: auto;
            height: 36px;

            text-align: center;

            a
            {
                font-size: 12px;
                font-weight: 500;
                line-height: 1.57;

                padding: 8px 10px;

                letter-spacing: .6px;
                text-transform: uppercase;

                color: $filters-tabs-color;
            }
        }

        li.active
        {
            a
            {
                font-size: 12px;

                color: $nav-tabs-active-link-color;
                border: 1px solid $filters-bg;
                background-color: $filters-bg;
            }
        }
    }
}

//
// Tables
// --------------------------------------------------

table.table
{
    line-height: 1.57;

    color: $table-color;

    thead
    {
        font-weight: bold;

        color: $thead-color;
        background-color: $thead-bg;

        tr
        {
            th
            {
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }
    }
}


.content-container
{
    display: table;

    width: 100%;
    height: 100%;
    padding-top: 58px;
}

.sidebar-left
{
    display: block;

    height: 100%;
    min-height: 100%;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    padding-left: 15px;

    background-color: $sidebat-bg;
    box-shadow: 1px 0 0 0 $sidebat-box-shadow;




    .bottom-controls
    {
        position: fixed;
        bottom: 0;
        left: 0;

        width: 25%;
        height: 74px;
        padding: 20px 15px;

        background-color: $sidebat-bg;
        box-shadow: -2px 0 10px 0 rgba(0, 0, 0, .05);

        .btn
        {
            min-width: 100px;
        }

        .pull-right
        {
            span
            {
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;

                letter-spacing: normal;

                color: #000;
            }
        }
    }
}

//
// Content
//
.page-row
{
    overflow: hidden;

    min-height: 100%;
}

.content
{
    //height: calc(100% - 80px);
    height: 100%;
    padding-right: 64px;

    .scroll-wrap
    {
        //overflow-y: scroll;
        position: relative;

        display: block;

        height: 100%;
    }
}

//
//  Right sidebar
//
.sidebar-right
{
    position: fixed;
    top: 57px;
    right: 0;

    width: 64px;
    height: calc(100% - 58px);
    min-height: calc(100% - 58px);

    background-color: $sidebat-bg;
    box-shadow: 0 0 0 1px $sidebat-box-shadow;

    ul
    {
        margin: 0;
        padding: 0;
    }

    li.square
    {
        display: block;
        display: flex;

        width: 64px;
        height: 64px;

        cursor: pointer;
        text-align: center;

        align-items: center;
        justify-content: center;

        &.toggle-view
        {
            color: $dark-blue;
            box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .08);
        }

        &:hover
        {
            -webkit-transition: all .5s ease-in-out;
               -moz-transition: all .5s ease-in-out;
                -ms-transition: all .5s ease-in-out;
                 -o-transition: all .5s ease-in-out;
                    transition: all .5s ease-in-out;

            background-color: $right-sidebar-active-item;
        }

        .ring-icon
        {
            font-size: 24px;
        }

        span.glyphicon
        {
            font-size: 24px;

            color: $dark-blue;

            &.inactive
            {
                color: $grey;
            }
        }

        .wrap
        {
            position: relative;

            width: 54px;
            height: 54px;
            margin: 5px;
            padding-top: 6px;

            background: $white;

             > span.label
            {
                font-family: Roboto;
                font-size: 10px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: 3;

                margin-bottom: -10px;
                padding: 0;

                text-align: center;
                letter-spacing: normal;

                color: $dark-blue;
            }

            &.inactive
            {
                 > span.label
                {
                    color: $grey;
                }

                 > span.glyphicon
                {
                    color: $grey;
                }
            }
        }

        .badge
        {
            font-size: 11px;
            font-weight: 200;
            font-style: normal;
            font-stretch: normal;
            line-height: .91;

            position: absolute;
            top: -4px;
            right: -4px;

            min-width: 20px;
            min-height: 20px;
            padding: 6px 5px;

            text-align: center;
            letter-spacing: normal;

            color: #fff;
            border-radius: 50%;
            background-color: $dark-blue;

             > span.glyphicon
            {
                font-size: 9px;

                color: $white;
            }

            &.inactive
            {
                background-color: $grey;
            }
        }
    }
}

//
// Stuff
//
.controls
{
    margin-top: 20px;
    margin-bottom: 15px;

    .btn-group
    {
        margin-right: 15px;
    }
}

.content
{
    .btn
    {
        min-width: 80px;
    }

    .sticky-content-header
    {
        position: fixed;
        z-index: 999;

        width: calc(75% - 66px);
        height: 64px;
        margin-top: -1px;
        margin-left: -29px;
        padding: 16px;

        background-color: $white;
        box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .08);
    }

    .content-header
    {
        h4
        {
            margin-top: 0;
        }
    }

    .settings-btn
    {
        font-size: 24px;

        color: $dark-blue;
    }

    .btn-group
    {
        &.gray-border
        {
             > .btn
            {
                border-color: $sidebat-box-shadow;
            }

             > .dropdown-toggle
            {
                border-color: $sidebat-box-shadow;
            }
        }

        .btn
        {
            min-width: 80px;
            &.dropdown-toggle
            {
                min-width: auto;
                margin-left: -1px;
            }
        }
    }
}

.table.text-table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td
{
    border: none !important;
}

.text-table
{
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;

    width: calc(100% - 20px);
    margin-top: 20px;
    padding-right: 40px;

    letter-spacing: normal;

    color: #000;
    border: none;

    tr
    {
        td
        {
            border: none !important;
        }
    }
}


.btn-group.gray-border.chips
{
    .btn
    {
        min-width: auto !important;
    }

    .glyphicon
    {
        color: $sidebat-box-shadow;
    }
}

.steps
{
    margin-top: 10px;
    margin-left: -25px;
}



.panel-default
{
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;

    letter-spacing: normal;

    color: #000;
}

.steps-table
{
    thead
    {
        background: transparent !important;

        tr
        {
            th
            {
                font-family: Roboto;
                font-size: 12px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;

                padding-top: 5px !important;
                padding-bottom: 5px !important;

                letter-spacing: normal;

                color: #ddd8d8;
                border-bottom: none;
            }
        }
    }

    tr
    {
        th
        {
            font-family: Roboto;
            font-size: 12px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;

            padding-top: 5px;
            padding-bottom: 5px;

            letter-spacing: normal;

            color: #ddd8d8;
            background: transparent !important;
        }

        td
        {
            font-family: Roboto;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.29;

            position: relative;

            letter-spacing: normal;

            color: #000;
            border-bottom: 1px solid $sidebat-box-shadow !important;

            .glyphicon
            {
                font-size: 12px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;

                letter-spacing: normal;

                color: #ddd8d8;
            }

            .icon-ico-drag
            {
                font-size: 24px;
            }

            .btn
            {
                min-width: auto;
                height: 24px;
                margin: 0;
                margin-top: -3px;
                padding: 0;
            }
        }
    }
}

.content .btn-group.gray-border.open > .btn
{
    z-index: 9909;

    margin-bottom: -1px;

    border-color: $border2;
    border-bottom-color: $white;
}

.content
{
    .open > .dropdown-menu
    {
        top: calc(100% - 3px);

        display: block;

        border-color: $border2;
    }
}

.no-border
{
    border: none !important;
}

.breadcrumb
{
    margin-bottom: 0;
    padding: 8px 3px;

    list-style: none;

    border-radius: 2px;
    background-color: $white;

    li
    {
        a
        {
            text-decoration: underline;

            text-decoration-color: $dark-blue;
            text-underline-position: under;
        }
    }
}

.dropdown-menu.dropdown-1 > li > a
{
    padding: 17px;
}

.dropdown-menu.dropdown-2 > li > a
{
    padding: 15px;
}

.dropdown-menu.dropdown-3
{
    min-width: 334px;
    height: 352px;
}

.dropdown-menu.dropdown-3 > li.list
{
    overflow-y: scroll;

    max-height: 300px;
     > .list-group
    {
        &:first-child
        {
            border-top: none;
        }
    }
}

.dropdown-menu.dropdown-3 > li.last
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 52px;

    border-top: 1px solid #e8e8e8;
}

.dropdown-menu.dropdown-3 > li > a
{
    padding: 15px;
}



.radio-container
{
    position: relative;
}

.radio-container:hover > .label::before
{
    border: 1rem solid $dark-blue;
}

.radio-btn
{
    position: absolute;

    visibility: hidden;

    opacity: 0;
}
.radio-btn:checked + .label
{
    color: $dark-blue;
}
.radio-btn:checked + .label::before
{
    border: .6rem solid $dark-blue;
    background: #fff;
}

.label.lb1
{
    display: flex;

    padding: .75rem 0;

    cursor: pointer;

    align-items: center;
     > p.list-group-item-text
    {
        font-family: Roboto;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.83;

        text-align: left;
        letter-spacing: normal;

        color: rgba(64, 64, 64, .35);
         > span.list-group-item-heading
        {
            font-family: Roboto;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.57;

            letter-spacing: normal;

            color: #404040;
        }
    }
}

.label.lb1::before
{
    display: inline-block;

    width: 2rem;
    height: 2rem;
    margin-right: 8px;

    content: '';

    border: .2rem solid $dark-blue;
    border-radius: 50%;
}

@media (max-width: 1439px)
{
    .pull-right
    {
        float: none !important;

        width: 100%;
    }

    .controls
    {
        .btn-xs
        {
            width: calc(100% - 6px);
            min-width: auto;
            margin-top: 2px;
        }
    }

    .btn-xs,
    .btn-group-xs > .btn,
    .btn-group-xs > .btn
    {
        width: calc(50% - 3px);
        min-width: auto;
        margin-top: 2px;
    }

    .sidebar-left
    {
        display: table-cell;

        height: 100%;

        .easy-tree ul > li > span > a span.items-count
        {
        }

        .easy-tree
        {
            overflow-y: scroll;

            max-height: calc(100% - 330px);
        }

        .bottom-controls
        {
            height: 100px;
            padding: 0;

            .btn
            {
                width: calc(100% - 6px);
                min-width: auto;
                margin-top: 2px;
            }
        }
    }
}

@media (min-width: 768px)
{
    .navbar-nav > li > a.user-name
    {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
