.easy-tree {
  .tree-children {
    margin-left: 6px;
    padding-right: 0;
    padding-left: 11px;

    border-left: 1px solid #dfe0df;
  }

  .toggle-children-placeholder,
  .toggle-children {
    font-family: 'Glyphicons Halflings';
    font-weight: normal;
    font-style: normal;
    line-height: 1;

    position: relative;
    top: 1px;

    display: inline-block;

    -webkit-font-smoothing: antialiased;
  }

  .toggle-children {
    color: $dark-blue;
    background-image: none;

    &:before {
      content: '\e114';
    }
  }

  .toggle-children-placeholder {
    margin-right: 5px;

    color: #e7e5e5;

    &:before {
      content: '\e022';
    }
  }

  .node-wrapper {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .node-content-wrapper {
    color: #767676;
  }

  .toggle-children-wrapper-collapsed .toggle-children {
    margin-top: 8px;
    margin-right: 5px;

    transform: rotate(-90deg);
  }

  .toggle-children-wrapper-expanded .toggle-children {
    margin-top: 4px;
    margin-right: 5px;

    transform: rotate(0);
  }

  .node-content-wrapper-active,
  .node-content-wrapper:hover {
    color: $dark-blue;
    background: none;
    box-shadow: none;
  }
}
