.easy-tree {
  .tree-children {
    border-left: 1px solid #dfe0df;
    padding-right: 0;
    padding-left: 11px;
    margin-left: 6px;
  }

  .toggle-children-placeholder, .toggle-children {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }

  .toggle-children {
    background-image: none;
    color: $dark-blue;

    &:before {
      content: "\e114";
    }
  }

  .toggle-children-placeholder {
    margin-right: 5px;
    color: #e7e5e5;

    &:before {
      content: "\e022";
    }
  }

  .node-content-wrapper {
    color: #767676;
  }

  .toggle-children-wrapper-collapsed .toggle-children {
    transform: rotate(-90deg);
    margin-top: 8px;
    margin-right: 5px;
  }

  .toggle-children-wrapper-expanded .toggle-children {
    transform: rotate(0);
    margin-right: 5px;
    margin-top: 4px;
  }

  .node-content-wrapper-active, .node-content-wrapper:hover {
    background: none;
    box-shadow: none;
    color: $dark-blue;
  }
}
