@import "override-variables";

.easy-tree {
  margin-bottom: 10px;
  padding-right: 0;
  display: table;

  @supports ( -moz-appearance:none ){
    display: block;
  }

  .angular-tree-component {
    overflow: visible;
    display: table;
    position: static;
  }

  tree-viewport {
    overflow: visible;
  }

  .tree-node-level-1 {
    padding-bottom: 20px;

  }

  .node-content-wrapper {
    width: 100%;
    padding: 2px;
    vertical-align: top;
    height: 15px;
  }

  a {
    display: flex;

    .name {
      font-size: 13px;
      color: $tree-title-dark;
      white-space: nowrap;

      &.hovered {
        font-size: 13px;
        color: $tree-hover-grey;
      }
    }
  }

  .tree-children {
    margin-left: 6px;
    padding-right: 0;
    padding-left: 4px;

    border-left: 1px solid $tree-grey;
    overflow: visible;
  }

  .toggle-children-placeholder,
  .toggle-children {
    font-family: 'icomoon';
    font-weight: normal;
    font-style: normal;
    position: relative;
    top: 0;

    display: inline-block;
    -webkit-font-smoothing: antialiased;
  }

  .toggle-children {
    color: $dark-blue;
    background-image: none;

    &:before {
      font-size: 24px;

      position: absolute;
      top: -5px;
      left: -5px;

      content: '\e904';
    }
  }

  .toggle-children-placeholder {
    color: $btn-group-border;
    width: 20px;

    @supports ( -moz-appearance:none ){
      top: -3px;
    }

    &:before {
      font-size: 24px;
      content: '\e90f';
      position: relative;
      top: -3px;
    }
  }

  tree-node-children {
    .node-content-wrapper {

      span.items-count {
        font-size: 12px;
        position: sticky;
        top: auto;
        margin-top: -20px;
        padding: 5px 0px 5px 10px;
        color: $tree-base-grey;
        background-color: $sidebar-bg;
        min-width: 60px;
        min-height: 25px;
        display: block;
        text-align: right;
        cursor: default;
        z-index: 2;
        float: left;
      }

      a {
        .name {
          color: $tree-name-grey;
          display: table;
          padding-right: 65px;
          overflow: hidden;

          &.hovered {
            font-size: 13px;
            color: $tree-hover-grey;
          }
          &.disabled-node {
            color: $light-grey;
          }
        }

        &.selected {
          color: $dark-blue;
          font-weight: 500;
        }

        &:hover:not(.selected) {
          color: $tree-hover-grey;
        }
      }
    }
  }

  .node-content-wrapper-active,
  .node-content-wrapper-focused,
  .node-content-wrapper:hover {
    box-shadow: none;
  }


  .node-content-wrapper-focused {
    background: transparent;
  }


  .node-wrapper {
    display: block;
    white-space: nowrap;
    width: calc(100% - 20px);
    height: 15px;
    margin-bottom: 3px;
    margin-top: 3px;

    .toggle-children-wrapper {
      vertical-align: middle;
    }
  }

  tree-node-content {
    span.items-count {
      font-size: 12px;
      position: sticky;
      top: auto;
      margin-top: -20px;
      padding: 5px 0px 5px 10px;
      color: $tree-base-grey;
      background-color: $sidebar-bg;
      min-width: 60px;
      min-height: 25px;
      text-align: right;
      cursor: default;
      z-index: 2;
      float: left;
    }

    a {
      display: flex;
      justify-content: space-between;
      width: 100%;
      text-decoration: none;
      position: relative;

      &:hover {
        .name {
          font-size: 13px;
          color: $tree-hover-grey;
        }
      }
    }
  }

  .toggle-children-wrapper-collapsed .toggle-children {
    margin-top: 7px;
    margin-right: 6px;

    transform: rotate(-90deg);
  }

  .toggle-children-wrapper-expanded .toggle-children {
    margin-top: 0;
    margin-right: 5px;

    transform: rotate(0);
  }


  .node-content-wrapper-active,
  .node-content-wrapper:hover {
    background: none;
    box-shadow: none;
    border: none;
  }

  .tree-node-leaf, .tree-node {

    .node-content-wrapper-focused,
    .node-content-wrapper-active {
      font-size: 13px;
      font-weight: 500;

      border: none;
      background: none;

      a {
        .name , .name.hovered {
          color: $dark-blue;
        }

      }
    }
  }

  .tree-node-leaf.tree-node-active,
  .tree-node-leaf.tree-node-focused {
    .toggle-children-placeholder {
      &:before {
        color: $dark-blue;
      }
    }
  }
}
