html,
body,
container {
  height: 100%;
}

body {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $black;
  overflow-x: hidden;

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: $right-sidebar-active-item;
  }
}

hr {
  height: 0;
  margin: 15px 0;
  border: 1px solid $hr-color;
}

.form-control {
  border-radius: 0;
}

.form-control:focus {
  border-color: $dark-blue;
  outline: none;
  box-shadow: none;
}

h4 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 16px;
}


a {
  &:not([href]):not([tabindex]) {
    text-decoration: none;
    cursor: pointer;

    &:focus,
    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }

}

//
// Dropdowns
// --------------------------------------------------

[dropdown].open.show {
  &:after {
    display: block;
    content: '';
    background-color: $white;
    width: 100%;
    height: 9px;
    position: absolute;
    z-index: 10000;
    bottom: -6px;
    left: 0px;
    border-right: 1px solid $border2;
    border-left: 1px solid $border2;
  }

  [aria-expanded="true"] {
    z-index: 9909;
    border-color: $border2;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    > .btn,
    &.btn {
      border-color: $border2;

      &:hover,
      &:active,
      &:focus {
        background: none;
      }
    }

  }

  .dropdown-menu.show {
    top: calc(100% + 3px) !important;

    display: block;
    border-color: $border2;

    &:not(.dropdown-menu-right) {
      border-top-left-radius: 0;
    }

    &.dropdown-menu-right {
      border-top-right-radius: 0;
    }
  }
}


.dropdown {
  .open {
    background-color: $white;
  }
}

.dropdown-toggle {
  &:after {
    display: none;
  }
}

.dropdown-menu {
  border-radius: $border-radius-large;
  padding: 0;

  & > li {
    a {
      color: $table-color;
      text-decoration: none;
      display: block;
      font-size: 14px;
      font-weight: normal;
      padding: 10px 20px;
      cursor: pointer;
      white-space: nowrap;
    }

    & > a {

      &:hover,
      &:focus {
        background-color: $sidebar-bg;
      }
    }

    &.dropdown-divider {
      margin: 0;
    }
  }

  > .active > a,
  > .active > a:hover,
  > .active > a:focus {
    background-color: $sidebar-bg;
  }

}

.multi-select-dropdown {
  padding: 0;

  .filter-block {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding-bottom: 6px;

    input.search {
      font-size: 14px;
      font-weight: normal;
      background-color: $tree-input-grey;
      width: 100%;
      color: $black;
      border: none;
      box-shadow: none;
    }
  }

  .list-block {
    overflow: auto;
    margin-bottom: 19px;
    margin-right: 6px;

    .list-group {
      margin-bottom: 20px;

      .list-group-item {
        position: relative;
        display: flex;
        border: none;
        padding: 10px 20px;

        &:hover {
          background-color: $sidebar-bg !important;
        }

        .checkbox-btn {
          position: absolute;
          visibility: hidden;
          opacity: 0;
          height: 100%;

          &:checked {
            + .label {
              color: $dark-blue;
            }

            + .label::before {
              background: $dark-blue;
            }

            + .label::after {
              display: block;
            }
          }
        }

        .label {
          margin: auto 0 auto 30px;
          width: 100%;
          cursor: pointer;
          font-size: 14px;
          font-weight: normal;

          &:before {
            position: absolute;
            left: 20px;
            top: calc(50% - 10px);
            width: 20px;
            height: 20px;
            content: '';
            border: 2px solid $dark-blue;
            border-radius: $border-radius-base;

          }

          &:after {
            content: '';
            display: none;
            width: 7px;
            height: 12px;
            -webkit-transform: rotate(45deg);
            transform: rotate(41deg);
            border-bottom: 3px solid $white;
            border-right: 3px solid $white;
            position: absolute;
            left: 26.5px;
            top: calc(50% - 7px);
          }

        }
      }
    }

    @include custom-scrollbar(7px, $tree-input-grey, $btn-default-focused-color)
  }

  .add-controls {
    border-top: 1px solid $light-grey;
    height: 64px;
    text-align: left;

    .btn {
      min-width: auto;
      height: 100%;
    }
  }
}


.ring-icon {
  @include font-icons();

  &:before,
  &:after {
    @include font-icons();
  }
}

//
// Buttons
// --------------------------------------------------

.btn {
  font-size: 14px;
  font-weight: 500;
  min-width: 150px;
  height: 32px;
  border-color: $dark-blue;
  text-shadow: none;
  box-shadow: none;
  border-radius: $border-radius-base;

  &:active,
  &:focus,
  &:hover {
    background-image: none;
    outline: none !important;
    box-shadow: none;
  }
}

.btn-default {
  color: $dark-blue;
  background-color: $white;
  border-color: $light-grey;
}

.btn-primary {
  background-color: $dark-blue;
}

.btn-sm {
  min-width: 80px;
  height: 24px;
  line-height: 1em;
}

.btn-light {
  &:active,
  &:focus,
  &:focus:active,
  &:hover {
    background-image: none;
    outline: none !important;
    box-shadow: none !important;
    border-color: $btn-default-active-bg;
    background-color: $btn-default-active-bg;

  }

  background-color: $white;
  border-color: $light-grey;
  font-size: 12px;
  font-weight: normal;
  color: #000;
  border-radius: $border-radius-base;
  text-shadow: none;
  box-shadow: none;

  &:not(:disabled):not(.disabled) {
    &.active {
      font-weight: normal;
      color: #000;
      border-color: transparent;
      background-color: $tree-active-grey;
    }

    &:active {
      border-color: $btn-default-active-bg;
      background-color: $btn-default-active-bg;
    }
  }
}

.btn-action {
  border-color: $dark-blue;
}

.btn-link {

  &:active,
  &:focus,
  &:hover {
    background-image: none;
    outline: none !important;
    box-shadow: none;
    text-decoration: none;
    border-color: inherit !important;
    background-color: inherit !important;
  }
}

.btn-default,
.btn-light,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  text-shadow: none;

  $shadow: none;
  @include box-shadow($shadow);

  // Reset the shadow
  &:active,
  &.active {
    @include box-shadow(none);
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    @include box-shadow(none);
  }

  .badge {
    border-radius: 50%;
    text-shadow: none;
  }
}

.btn-clear {
  font-size: 24px;

  min-width: auto;

  color: $dark-blue;
  border: none;
  background-color: transparent;

  .glyphicon {
    margin-top: -4px;
  }
}

.btn-group > .btn + .dropdown-toggle {
  padding-top: 4px;
}

.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
}


.btn-default {
  &:hover,
  &:focus {
    color: $dark-blue;
    border-color: $btn-default-focused-color;
    background-color: $white;
  }

  &:active:focus {
    border-color: $btn-default-focused-color;
    background-color: $btn-default-active-bg;
  }

  &:active,
  &.active {
    border-color: $btn-default-focused-color;
    background-color: $btn-default-active-bg;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {

    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      border-color: $btn-default-focused-color;
      background-color: $btn-default-active-bg;
    }
  }
}

.btn-primary {

  &:hover,
  &:focus {
    border-color: $light-blue;
    background-color: $light-blue;
  }

  &:active,
  &.active {
    border-color: $darkest-blue;
    background-color: $darkest-blue;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {

    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      border-color: $darkest-blue;
      background-color: $darkest-blue;
    }
  }
}

.no-border {
  border: none;
}

//
// Panels
// --------------------------------------------------
.panel {
  @include box-shadow(0 1px 2px rgba(0, 0, 0, .05));
}

.panel-default {
  font-size: 14px;
  color: #000;
}

.bs-tooltip-top {
  .tooltip-arrow::before {
    border-top-color: $sidebar-bg;
  }

  .tooltip-inner {
    border-radius: $border-radius-base;
    background-color: $sidebar-bg;
    color: $tree-name-grey;
  }
}

@media (min-width: 768px) {
  .navbar-nav > li > a.user-name {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
