<div class="row steps">
  <div class="col-md-12">
    <h4 class="tetx2">Summary</h4>
    <div class="panel panel-default">
      <div class="panel-body">
        <app-summernote-editor [htmlContent]="model.summary"></app-summernote-editor>
      </div>
    </div>
  </div>
</div>
<div class="row steps">
  <div class="col-md-12">
    <h4 class="tetx2">Preconditions</h4>
    <div class="panel panel-default">
      <div class="panel-body">
        <app-summernote-editor [htmlContent]="model.preconditions"></app-summernote-editor>
      </div>
    </div>
  </div>
</div>
