<div class="container-fluid">
  <div class="row content-header">
    <div class="col-12-md">
      <div class="col-md-2">
        <h4 class="text1 dotted">UBP-961511:</h4>
      </div>
      <div class="col-md-5">
        <h4 class="text2">This test case has a deliberately chosen long name that doesn't fit into one line</h4>
      </div>
      <div class="col-md-5">
        <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog settings-btn"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
        <div class="btn-group gray-border">
          <button type="button" class="btn btn-default">Version 5</button>
          <button type="button" class="btn btn-deault dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        <input class="btn btn-default" type="button" value="Save">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12-md">
      <div class="btn-group btn-group-xs" role="group" aria-label="...">
        <button type="button" class="btn btn-default">HTML</button>
        <button type="button" class="btn btn-default active">Tetx</button>
      </div>
    </div>
  </div>

  <app-steps-table></app-steps-table>
  <app-text-blocks></app-text-blocks>
  <app-text-table></app-text-table>
  <app-custom-fields></app-custom-fields>

</div>
