<div class="container-fluid">
  <div class="sticky-content-header">
    <div class="col-12-md">
      <div class="col-md-7">
        <div class="small-row bcrumb">
          <ul class="breadcrumb">
            <li><a href="#">RC UPB ALL</a></li>
            <li><a href="#">Telephony (black box)</a></li>
          </ul>
        </div>
        <div class="small-row">
          <div class="col-md-3">
            <h4 class="text1 dotted shift-left" style="margin: 0; margin-top:-4px">UBP-961511:</h4>
          </div>
          <div class="col-md-9">
            <h4 class="text2 no-wrap" style="margin: 0; margin-top:-4px">This test case has a deliberately chosen long name that doesn't fit into one line</h4>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <input class="btn btn-default pull-right" type="button" value="Save">
        <div class="btn-group gray-border pull-right">
          <button type="button" class="btn btn-default">Version 5</button>
          <button type="button" class="btn btn-deault dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="icon-ico-listopen"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu dropdown-3">
            <li class="list">
              <div class="list-group">
                <a href="#" class="list-group-item radio-container">
                              <input type="radio" class="radio-btn" name="choice" id="rad1" />
                              <label for="rad1" class="label lb1">

                                  <p class="list-group-item-text"><span class="list-group-item-heading">Version 5</span><br>by Konstantin K., Nov 5th at 15:35</p>
                              </label>
                            </a>
                <a href="#" class="list-group-item">
                              <input type="radio" class="radio-btn" name="choice" id="rad2" />
                              <label for="rad2" class="label lb1">

                                  <p class="list-group-item-text"><span class="list-group-item-heading">Version 4</span><br>by Konstantin K., Nov 5th at 15:35</p>
                              </label>
                            </a>
                <a href="#" class="list-group-item">
                              <input type="radio" class="radio-btn" name="choice" id="rad3" />
                              <label for="rad3" class="label lb1">
                                  <p class="list-group-item-text"><span class="list-group-item-heading">Version 3</span><br>by Konstantin K., Nov 5th at 15:35</p>
                              </label>
                            </a>
                <a href="#" class="list-group-item">
                              <input type="radio" class="radio-btn" name="choice" id="rad4" />
                              <label for="rad4" class="label lb1">
                                  <p class="list-group-item-text"><span class="list-group-item-heading">Version 2</span><br>by Konstantin K., Nov 5th at 15:35</p>
                              </label>
                            </a>
                <a href="#" class="list-group-item ">
                              <input type="radio" class="radio-btn" name="choice" id="rad5" />
                              <label for="rad5" class="label lb1">
                                  <p class="list-group-item-text"><span class="list-group-item-heading">Version 1</span><br>by Konstantin K., Nov 5th at 15:35</p>
                              </label>
                            </a>
                <a href="#" class="list-group-item ">
                              <input type="radio" class="radio-btn" name="choice" id="rad6" />
                              <label for="rad6" class="label lb1">

                                  <p class="list-group-item-text"><span class="list-group-item-heading">Version 0</span><br>by Konstantin K., Nov 5th at 15:35</p>
                              </label>
                            </a>
                <a href="#" class="list-group-item ">
                              <input type="radio" class="radio-btn" name="choice" id="rad7" />
                              <label for="rad7" class="label lb1">
                                  <p class="list-group-item-text"><span class="list-group-item-heading">Version -1</span><br>by Konstantin K., Nov 5th at 15:35</p>
                              </label>
                            </a>
              </div>
            </li>
            <li class="last">
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default no-border">ADD</button>
                <button type="button" class="btn btn-default no-border">REMOVE</button>
                <button type="button" class="btn btn-default no-border">COMPARE</button>
              </div>
            </li>
          </ul>
        </div>
        <div class="btn-group gray-border pull-right">
          <button type="button" class="btn btn-default">More</button>
          <button type="button" class="btn btn-deault dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="icon-ico-listopen"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu dropdown-1">
            <li><a href="#">Add to Test Plan</a></li>
            <li><a href="#">Delete</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-t-64">
    <div class="col-12-md ">
    </div>
  </div>
  <app-steps-table></app-steps-table>
  <app-text-blocks></app-text-blocks>
  <app-text-table></app-text-table>
  <app-custom-fields></app-custom-fields>
</div>
