<div class="container-fluid p-t-15">
  <div class="normal-content-header fixed-top">
    <div class="col-12-md">
      <div class="col-md-7">
        <div class="small-row bcrumb">
          <ul class="breadcrumb">
            <li><a href="#">RC UPB ALL</a></li>
            <li><a href="#">Telephony (black box)</a></li>
          </ul>
        </div>
        <div class="small-row">
          <div class="col-md-12 no-wrap">
            <div style="float: left;"><h4 class="text1 dotted shift-left title" style="margin: 0; margin-top:-4px; margin-right: 23px;">{{model.key}}:</h4>
            </div>
            <div style="float: left;"> <h4 class="text2 name" style="margin: 0; margin-top: -4px; margin-left: -15px;">
             {{model.name}}</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <input class="btn btn-default pull-right" type="button" value="Save">
        <div class="btn-group gray-border pull-right" dropdown>
          <button type="button" dropdownToggle class="btn btn-default p-r-25">Version 5 <span class="icon-ico-listopen"></span> </button>
          <ul class="dropdown-menu dropdown-3" *dropdownMenu>
            <li class="list">
              <div class="list-group">
                <a href="#" class="list-group-item radio-container">
                              <input type="radio" class="radio-btn" name="choice" id="rad1" />
                              <label for="rad1" class="label lb1">

                                  <p class="list-group-item-text"><span class="list-group-item-heading">Version 5</span><br>by Konstantin K., Nov 5th at 15:35</p>
                              </label>
                            </a>
                <a href="#" class="list-group-item">
                              <input type="radio" class="radio-btn" name="choice" id="rad2" />
                              <label for="rad2" class="label lb1">

                                  <p class="list-group-item-text"><span class="list-group-item-heading">Version 4</span><br>by Konstantin K., Nov 5th at 15:35</p>
                              </label>
                            </a>
                <a href="#" class="list-group-item selected">
                              <input type="radio" class="radio-btn" name="choice" id="rad3" />
                              <label for="rad3" class="label lb1">
                                  <p class="list-group-item-text"><span class="list-group-item-heading">Version 3</span><br>by Konstantin K., Nov 5th at 15:35</p>
                              </label>
                            </a>
                <a href="#" class="list-group-item">
                              <input type="radio" class="radio-btn" name="choice" id="rad4" />
                              <label for="rad4" class="label lb1">
                                  <p class="list-group-item-text"><span class="list-group-item-heading">Version 2</span><br>by Konstantin K., Nov 5th at 15:35</p>
                              </label>
                            </a>
                <a href="#" class="list-group-item ">
                              <input type="radio" class="radio-btn" name="choice" id="rad5" />
                              <label for="rad5" class="label lb1">
                                  <p class="list-group-item-text"><span class="list-group-item-heading">Version 1</span><br>by Konstantin K., Nov 5th at 15:35</p>
                              </label>
                            </a>
                <a href="#" class="list-group-item ">
                              <input type="radio" class="radio-btn" name="choice" id="rad6" />
                              <label for="rad6" class="label lb1">

                                  <p class="list-group-item-text"><span class="list-group-item-heading">Version 0</span><br>by Konstantin K., Nov 5th at 15:35</p>
                              </label>
                            </a>
                <a href="#" class="list-group-item ">
                              <input type="radio" class="radio-btn" name="choice" id="rad7" />
                              <label for="rad7" class="label lb1">
                                  <p class="list-group-item-text"><span class="list-group-item-heading">Version -1</span><br>by Konstantin K., Nov 5th at 15:35</p>
                              </label>
                            </a>
              </div>
            </li>
            <li class="last">
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default no-border">ADD</button>
                <button type="button" class="btn btn-default no-border">REMOVE</button>
                <button type="button" class="btn btn-default no-border">COMPARE</button>
              </div>
            </li>
          </ul>
        </div>
        <div class="btn-group gray-border pull-right" dropdown>
          <button type="button" class="btn btn-default p-r-25" dropdownToggle>More <span class="icon-ico-listopen"></span> </button>
          <ul class="dropdown-menu dropdown-1" *dropdownMenu>
            <li><a href="#">Add to Test Plan</a></li>
            <li><a href="#">Delete</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-t-64">
    <div class="col-12-md ">
    </div>
  </div>
  <app-steps-table [model]="model"></app-steps-table>
  <app-text-blocks  [model]="model"></app-text-blocks>
  <app-text-table></app-text-table>
  <app-custom-fields></app-custom-fields>
</div>
